In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import sqlite3
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf

WARNING:tensorflow:From c:\Users\jackw\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
# Connect to the SQLite database
conn = sqlite3.connect('atwork.sqlite')

In [3]:
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
print(tables)

[('artwork',)]

In [4]:
# Read data from a specific table into a pandas DataFrame
table_name = 'artwork'
artwork_data = pd.read_sql_query(f"SELECT * FROM {table_name};", conn)

In [5]:
# Close the connection
conn.close()

In [6]:
artwork_data

,artwork_id,artist_name,title,exhibition_history,is_on_view,date,category_titles,artwork_type_title
0,78503,"Tsugouharu Foujita\nJapanese, 1886–1968",Portrait of Emily Crane Chadbourne,"New York, Reinhardt Galleries, Exhibition of P...",0,1922,Modern Art,Painting
1,53045,"André Lhote\nFrench, 1885-1962",Port of Bordeaux,"The Art Institute of Chicago, Henri Cartier-Br...",0,1914,Modern Art,Painting
2,217464,"Gladys Nilsson\nAmerican, born 1940",The Trogens,None,0,1967,Contemporary Art,Painting
3,93345,"Robert Smithson\nAmerican, 1938–1973",Chalk-Mirror Displacement,"London, Institute of Contemporary Art, “When A...",0,1969,Contemporary Art,Sculpture
4,266051,"Ingrid Pollard\nBritish, born 1953",The Boy Who Watches Ships Go By,None,0,2002,Photography and Media,Photograph
...,...,...,...,...,...,...,...,...
995,61024,"Rockwell Kent\nAmerican, 1882-1971",The Precipice,None,0,n.d.,Prints and Drawings,Print
996,36067,"Rockwell Kent\nAmerican, 1882–1971",Alaska,"Art Institute of Chicago, <a href=""https://www...",0,1919–27,Arts of the Americas,Painting
997,34040,"Rockwell Kent\nAmerican, 1882-1971",Blue Bird,None,0,1919,Prints and Drawings,Print
998,30383,"Rockwell Kent\nAmerican, 1882-1971",Still the Breath Divine does Move/ And the Bre...,None,0,1925,Prints and Drawings,Print
999,30380,"Rockwell Kent\nAmerican, 1882-1971",Angel - Greetings from the House of Weyhe MCMXXVI,None,0,1926,Prints and Drawings,Print

In [7]:
# Create DataFrame
df = pd.DataFrame(artwork_data)

In [8]:
# Split artist_name into name, nationality, and year columns
df[['name', 'nationality_year']] = df['artist_name'].str.split('(', n=1, expand=True)

In [9]:
df[['nationality', 'year']] = df['nationality_year'].str.extract(r'([A-Za-z\s]+),\s(\d{4}–\d{4})')

# Drop unnecessary columns
df.drop(['artist_name', 'nationality_year'], axis=1, inplace=True)

df

,artwork_id,title,exhibition_history,is_on_view,date,category_titles,artwork_type_title,name,nationality,year
0,78503,Portrait of Emily Crane Chadbourne,"New York, Reinhardt Galleries, Exhibition of P...",0,1922,Modern Art,Painting,"Tsugouharu Foujita\nJapanese, 1886–1968",NaN,NaN
1,53045,Port of Bordeaux,"The Art Institute of Chicago, Henri Cartier-Br...",0,1914,Modern Art,Painting,"André Lhote\nFrench, 1885-1962",NaN,NaN
2,217464,The Trogens,None,0,1967,Contemporary Art,Painting,"Gladys Nilsson\nAmerican, born 1940",NaN,NaN
3,93345,Chalk-Mirror Displacement,"London, Institute of Contemporary Art, “When A...",0,1969,Contemporary Art,Sculpture,"Robert Smithson\nAmerican, 1938–1973",NaN,NaN
4,266051,The Boy Who Watches Ships Go By,None,0,2002,Photography and Media,Photograph,"Ingrid Pollard\nBritish, born 1953",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
995,61024,The Precipice,None,0,n.d.,Prints and Drawings,Print,"Rockwell Kent\nAmerican, 1882-1971",NaN,NaN
996,36067,Alaska,"Art Institute of Chicago, <a href=""https://www...",0,1919–27,Arts of the Americas,Painting,"Rockwell Kent\nAmerican, 1882–1971",NaN,NaN
997,34040,Blue Bird,None,0,1919,Prints and Drawings,Print,"Rockwell Kent\nAmerican, 1882-1971",NaN,NaN
998,30383,Still the Breath Divine does Move/ And the Bre...,None,0,1925,Prints and Drawings,Print,"Rockwell Kent\nAmerican, 1882-1971",NaN,NaN
999,30380,Angel - Greetings from the House of Weyhe MCMXXVI,None,0,1926,Prints and Drawings,Print,"Rockwell Kent\nAmerican, 1882-1971",NaN,NaN

In [10]:
# Create a DataFrame
df = df[['artwork_id', 'name', 'nationality', 'year', 'title', 'exhibition_history', 'is_on_view', 'date', 'category_titles', 'artwork_type_title']].rename(columns={
    'artwork_id': 'ID',
    'exhibition_history': 'exhibition',
    'is_on_view': 'View',
    'artwork_type_title': 'type'
})

# Display DataFrame
df

,ID,name,nationality,year,title,exhibition,View,date,category_titles,type
0,78503,"Tsugouharu Foujita\nJapanese, 1886–1968",NaN,NaN,Portrait of Emily Crane Chadbourne,"New York, Reinhardt Galleries, Exhibition of P...",0,1922,Modern Art,Painting
1,53045,"André Lhote\nFrench, 1885-1962",NaN,NaN,Port of Bordeaux,"The Art Institute of Chicago, Henri Cartier-Br...",0,1914,Modern Art,Painting
2,217464,"Gladys Nilsson\nAmerican, born 1940",NaN,NaN,The Trogens,None,0,1967,Contemporary Art,Painting
3,93345,"Robert Smithson\nAmerican, 1938–1973",NaN,NaN,Chalk-Mirror Displacement,"London, Institute of Contemporary Art, “When A...",0,1969,Contemporary Art,Sculpture
4,266051,"Ingrid Pollard\nBritish, born 1953",NaN,NaN,The Boy Who Watches Ships Go By,None,0,2002,Photography and Media,Photograph
...,...,...,...,...,...,...,...,...,...,...
995,61024,"Rockwell Kent\nAmerican, 1882-1971",NaN,NaN,The Precipice,None,0,n.d.,Prints and Drawings,Print
996,36067,"Rockwell Kent\nAmerican, 1882–1971",NaN,NaN,Alaska,"Art Institute of Chicago, <a href=""https://www...",0,1919–27,Arts of the Americas,Painting
997,34040,"Rockwell Kent\nAmerican, 1882-1971",NaN,NaN,Blue Bird,None,0,1919,Prints and Drawings,Print
998,30383,"Rockwell Kent\nAmerican, 1882-1971",NaN,NaN,Still the Breath Divine does Move/ And the Bre...,None,0,1925,Prints and Drawings,Print
999,30380,"Rockwell Kent\nAmerican, 1882-1971",NaN,NaN,Angel - Greetings from the House of Weyhe MCMXXVI,None,0,1926,Prints and Drawings,Print

In [11]:
df['exhibition'] = df['exhibition'].apply(lambda x: 0 if 'None' in str(x) else 1)
df

,ID,name,nationality,year,title,exhibition,View,date,category_titles,type
0,78503,"Tsugouharu Foujita\nJapanese, 1886–1968",NaN,NaN,Portrait of Emily Crane Chadbourne,1,0,1922,Modern Art,Painting
1,53045,"André Lhote\nFrench, 1885-1962",NaN,NaN,Port of Bordeaux,1,0,1914,Modern Art,Painting
2,217464,"Gladys Nilsson\nAmerican, born 1940",NaN,NaN,The Trogens,0,0,1967,Contemporary Art,Painting
3,93345,"Robert Smithson\nAmerican, 1938–1973",NaN,NaN,Chalk-Mirror Displacement,1,0,1969,Contemporary Art,Sculpture
4,266051,"Ingrid Pollard\nBritish, born 1953",NaN,NaN,The Boy Who Watches Ships Go By,0,0,2002,Photography and Media,Photograph
...,...,...,...,...,...,...,...,...,...,...
995,61024,"Rockwell Kent\nAmerican, 1882-1971",NaN,NaN,The Precipice,0,0,n.d.,Prints and Drawings,Print
996,36067,"Rockwell Kent\nAmerican, 1882–1971",NaN,NaN,Alaska,1,0,1919–27,Arts of the Americas,Painting
997,34040,"Rockwell Kent\nAmerican, 1882-1971",NaN,NaN,Blue Bird,0,0,1919,Prints and Drawings,Print
998,30383,"Rockwell Kent\nAmerican, 1882-1971",NaN,NaN,Still the Breath Divine does Move/ And the Bre...,0,0,1925,Prints and Drawings,Print
999,30380,"Rockwell Kent\nAmerican, 1882-1971",NaN,NaN,Angel - Greetings from the House of Weyhe MCMXXVI,0,0,1926,Prints and Drawings,Print

In [12]:
# Replace NaN values in the 'nationality' column with 'Unknown'
df['nationality'].fillna(value='Unknown', inplace=True)
df['year'].fillna(value='Unknown', inplace=True)
df

,ID,name,nationality,year,title,exhibition,View,date,category_titles,type
0,78503,"Tsugouharu Foujita\nJapanese, 1886–1968",Unknown,Unknown,Portrait of Emily Crane Chadbourne,1,0,1922,Modern Art,Painting
1,53045,"André Lhote\nFrench, 1885-1962",Unknown,Unknown,Port of Bordeaux,1,0,1914,Modern Art,Painting
2,217464,"Gladys Nilsson\nAmerican, born 1940",Unknown,Unknown,The Trogens,0,0,1967,Contemporary Art,Painting
3,93345,"Robert Smithson\nAmerican, 1938–1973",Unknown,Unknown,Chalk-Mirror Displacement,1,0,1969,Contemporary Art,Sculpture
4,266051,"Ingrid Pollard\nBritish, born 1953",Unknown,Unknown,The Boy Who Watches Ships Go By,0,0,2002,Photography and Media,Photograph
...,...,...,...,...,...,...,...,...,...,...
995,61024,"Rockwell Kent\nAmerican, 1882-1971",Unknown,Unknown,The Precipice,0,0,n.d.,Prints and Drawings,Print
996,36067,"Rockwell Kent\nAmerican, 1882–1971",Unknown,Unknown,Alaska,1,0,1919–27,Arts of the Americas,Painting
997,34040,"Rockwell Kent\nAmerican, 1882-1971",Unknown,Unknown,Blue Bird,0,0,1919,Prints and Drawings,Print
998,30383,"Rockwell Kent\nAmerican, 1882-1971",Unknown,Unknown,Still the Breath Divine does Move/ And the Bre...,0,0,1925,Prints and Drawings,Print
999,30380,"Rockwell Kent\nAmerican, 1882-1971",Unknown,Unknown,Angel - Greetings from the House of Weyhe MCMXXVI,0,0,1926,Prints and Drawings,Print

In [13]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df = df.drop(columns=['ID', 'name', 'title', 'year'])
df.head()

  nationality  exhibition  View  date        category_titles        type
0     Unknown           1     0  1922             Modern Art    Painting
1     Unknown           1     0  1914             Modern Art    Painting
2     Unknown           0     0  1967       Contemporary Art    Painting
3     Unknown           1     0  1969       Contemporary Art   Sculpture
4     Unknown           0     0  2002  Photography and Media  Photograph

In [14]:
# Determine the number of unique values in each column.
unique_values = df.nunique()
print(unique_values)

nationality          7
exhibition           2
View                 2
date               479
category_titles     22
type                21
dtype: int64

In [15]:
# Look at date value counts for binning
date_counts = df['date'].value_counts()
print(date_counts)

date
1936, published May 26, 1942    27
n.d.                            22
1978                            18
1970                            17
published 1931                  16
                                ..
1625/50                          1
1877                             1
c. 1881                          1
1882–83                          1
1925                             1
Name: count, Length: 479, dtype: int64

In [16]:
import re
# Drop rows where 'date' is 'n.d.' in the original DataFrame
df.drop(df[df['date'] == 'n.d.'].index, inplace=True)
# Function to handle cases like '1649/1655'
def replace_year_range(text):
    parts = text.split('/')
    if len(parts) > 0:
        return parts[0]
    return None

# Function to extract year from a string
def extract_year(text):
    match = re.search(r'\b\d{4}\b', text)
    if match:
        return match.group()
    return None

# Replace the 'date' values containing '1936, published May 26, 1942' with '1936'
df.loc[df['date'] == '1936, published May 26, 1942', 'date'] = '1936'
df.loc[df['date'] == 'published 1931'] = '1931'
df.loc[df['date'] == '1949, published December 1954'] = '1949'
df.loc[df['date'] == '1882–83'] = '1882'
df.loc[df['date'] == '1880–82'] = '1880'
df['date'] = df['date'].apply(lambda x: replace_year_range(x) if '/' in x else extract_year(x) if isinstance(x, str) else x)

In [17]:
# Check the data types of values in the 'date' column
date_types = df['date'].apply(type).value_counts()
print(date_types)

date
<class 'str'>         951
<class 'NoneType'>     27
Name: count, dtype: int64

In [18]:
df = df[df['date'].notna()]

In [19]:
# Look at date value counts for binning
date_counts = df['date'].value_counts()
print(date_counts)

date
1936    37
1949    29
1931    24
1905    23
1933    23
        ..
1649     1
1662     1
1663     1
1673     1
1580     1
Name: count, Length: 176, dtype: int64

In [20]:
df = df[df['nationality'] != '1931']
df = df[df['nationality'] != '1949']
df = df[df['View'] != '1880']
df = df[df['View'] != '1882']
nat_counts = df['nationality'].value_counts()
print(nat_counts)

nationality
Unknown        790
American       115
French           8
 born Italy      2
Chinese          1
Italian          1
Flemish          1
Name: count, dtype: int64

In [21]:
# Choose a cutoff value and create a list of nationalities to be replaced
# use the variable name `nationalities_to_replace`
cutoff_value_class = 7
nationalities_to_replace = list(nat_counts[nat_counts < cutoff_value_class].index)

# Replace in dataframe
for nat in nationalities_to_replace:
    df['nationality'] = df['nationality'].replace(nat,"Other")

# Check to make sure binning was successful
df['nationality'].value_counts()

nationality
Unknown     790
American    115
French        8
Other         5
Name: count, dtype: int64

In [22]:
# Convert 'date' column to numeric values (years)
df['date'] = pd.to_numeric(df['date'], errors='coerce')

# Drop rows with NaN values in the 'date' column
df.dropna(subset=['date'], inplace=True)

# Convert the 'date' column to integers
df['date'] = df['date'].astype(int)

# Display the updated DataFrame
df

    nationality exhibition View  date        category_titles        type
0       Unknown          1    0  1922             Modern Art    Painting
1       Unknown          1    0  1914             Modern Art    Painting
2       Unknown          0    0  1967       Contemporary Art    Painting
3       Unknown          1    0  1969       Contemporary Art   Sculpture
4       Unknown          0    0  2002  Photography and Media  Photograph
..          ...        ...  ...   ...                    ...         ...
994     Unknown          0    0  1927    Prints and Drawings       Print
996     Unknown          1    0  1919   Arts of the Americas    Painting
997     Unknown          0    0  1919    Prints and Drawings       Print
998     Unknown          0    0  1925    Prints and Drawings       Print
999     Unknown          0    0  1926    Prints and Drawings       Print

[915 rows x 6 columns]

In [23]:
df['View'] = df['View'].astype(bool)
df['exhibition'] = df['exhibition'].astype(bool)
date_types_1 = df['View'].apply(type).value_counts()
print(date_types_1)

View
<class 'bool'>    915
Name: count, dtype: int64

In [24]:
# Convert categorical data to numeric with `pd.get_dummies`
df_encoded = pd.get_dummies(df)
df_encoded.head()

,exhibition,View,date,nationality_American,nationality_French,nationality_Other,nationality_Unknown,category_titles_AIC Archives,category_titles_African American artists,category_titles_African Diaspora,...,type_Installation,type_Metalwork,type_Mixed Media,type_Painting,type_Photograph,type_Print,type_Religious/Ritual Object,type_Sculpture,type_Textile,type_Vessel
0,True,False,1922,False,False,False,True,False,False,False,...,False,False,False,True,False,False,False,False,False,False
1,True,False,1914,False,False,False,True,False,False,False,...,False,False,False,True,False,False,False,False,False,False
2,False,False,1967,False,False,False,True,False,False,False,...,False,False,False,True,False,False,False,False,False,False
3,True,False,1969,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,True,False,False
4,False,False,2002,False,False,False,True,False,False,False,...,False,False,False,False,True,False,False,False,False,False

In [25]:
# Split our preprocessed data into our features and target arrays
X = df_encoded.drop(columns=['View']).values
y = df_encoded['View'].values

In [26]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [27]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [28]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

WARNING:tensorflow:From c:\Users\jackw\anaconda3\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5981 (23.36 KB)
Trainable params: 5981 (23.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [29]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

WARNING:tensorflow:From c:\Users\jackw\anaconda3\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [30]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
WARNING:tensorflow:From c:\Users\jackw\anaconda3\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\jackw\anaconda3\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

22/22 [==============================] - 1s 3ms/step - loss: 0.4470 - accuracy: 0.8805
Epoch 2/100
22/22 [==============================] - 0s 2ms/step - loss: 0.3243 - accuracy: 0.8819
Epoch 3/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2857 - accuracy: 0.8805
Epoch 4/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2679 - accuracy: 0.8965
Epoch 5/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2590 - accuracy: 0.9009
Epoch 6/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2533 - accuracy: 0.9009
Epoch 7/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2484 - accuracy: 0.9009
Epoch 8/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2465 - accuracy: 0.9009
Epoch 9/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2426 - accuracy: 0.9009
Epoch 10/100
22/22 [==============================] - 0s 3ms/step - loss: 0.2418 - accuracy: 0.9009
Epoch 11/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2391 - accuracy: 0.9023
Epoch 12/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2379 - accuracy: 0.9023
Epoch 13/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2371 - accuracy: 0.9023
Epoch 14/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2351 - accuracy: 0.9023
Epoch 15/100
22/22 [==============================] - 0s 3ms/step - loss: 0.2334 - accuracy: 0.9023
Epoch 16/100
22/22 [==============================] - 0s 3ms/step - loss: 0.2355 - accuracy: 0.9023
Epoch 17/100
22/22 [==============================] - 0s 3ms/step - loss: 0.2320 - accuracy: 0.9023
Epoch 18/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2316 - accuracy: 0.9023
Epoch 19/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2313 - accuracy: 0.9038
Epoch 20/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2294 - accuracy: 0.9038
Epoch 21/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2285 - accuracy: 0.9052
Epoch 22/100
22/22 [==============================] - 0s 3ms/step - loss: 0.2290 - accuracy: 0.9052
Epoch 23/100
22/22 [==============================] - 0s 3ms/step - loss: 0.2292 - accuracy: 0.9038
Epoch 24/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2278 - accuracy: 0.9067
Epoch 25/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2272 - accuracy: 0.9052
Epoch 26/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2287 - accuracy: 0.9096
Epoch 27/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2264 - accuracy: 0.9067
Epoch 28/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2291 - accuracy: 0.9052
Epoch 29/100
22/22 [==============================] - 0s 3ms/step - loss: 0.2254 - accuracy: 0.9067
Epoch 30/100
22/22 [==============================] - 0s 3ms/step - loss: 0.2254 - accuracy: 0.9082
Epoch 31/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2258 - accuracy: 0.9067
Epoch 32/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2244 - accuracy: 0.9067
Epoch 33/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2243 - accuracy: 0.9082
Epoch 34/100
22/22 [==============================] - 0s 3ms/step - loss: 0.2228 - accuracy: 0.9067
Epoch 35/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2242 - accuracy: 0.9052
Epoch 36/100
22/22 [==============================] - 0s 3ms/step - loss: 0.2242 - accuracy: 0.9052
Epoch 37/100
22/22 [==============================] - 0s 3ms/step - loss: 0.2231 - accuracy: 0.9067
Epoch 38/100
22/22 [==============================] - 0s 3ms/step - loss: 0.2246 - accuracy: 0.9067
Epoch 39/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2234 - accuracy: 0.9082
Epoch 40/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2268 - accuracy: 0.9009
Epoch 41/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2283 - accuracy: 0.9052
Epoch 42/100
22/22 [==============================] - 0s 3ms/step - loss: 0.2218 - accuracy: 0.9096
Epoch 43/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2224 - accuracy: 0.9067
Epoch 44/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2215 - accuracy: 0.9082
Epoch 45/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2232 - accuracy: 0.9023
Epoch 46/100
22/22 [==============================] - 0s 3ms/step - loss: 0.2219 - accuracy: 0.9067
Epoch 47/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2215 - accuracy: 0.9067
Epoch 48/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2192 - accuracy: 0.9067
Epoch 49/100
22/22 [==============================] - 0s 3ms/step - loss: 0.2205 - accuracy: 0.9082
Epoch 50/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2223 - accuracy: 0.9082
Epoch 51/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2215 - accuracy: 0.9067
Epoch 52/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2201 - accuracy: 0.9082
Epoch 53/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2197 - accuracy: 0.9067
Epoch 54/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2191 - accuracy: 0.9096
Epoch 55/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2199 - accuracy: 0.9125
Epoch 56/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2218 - accuracy: 0.9125
Epoch 57/100
22/22 [==============================] - 0s 3ms/step - loss: 0.2221 - accuracy: 0.9096
Epoch 58/100
22/22 [==============================] - 0s 3ms/step - loss: 0.2204 - accuracy: 0.9052
Epoch 59/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2221 - accuracy: 0.9111
Epoch 60/100
22/22 [==============================] - 0s 3ms/step - loss: 0.2182 - accuracy: 0.9096
Epoch 61/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2194 - accuracy: 0.9082
Epoch 62/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2208 - accuracy: 0.9067
Epoch 63/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2212 - accuracy: 0.9096
Epoch 64/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2212 - accuracy: 0.9067
Epoch 65/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2268 - accuracy: 0.9082
Epoch 66/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2205 - accuracy: 0.9096
Epoch 67/100
22/22 [==============================] - 0s 3ms/step - loss: 0.2169 - accuracy: 0.9096
Epoch 68/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2197 - accuracy: 0.9096
Epoch 69/100
22/22 [==============================] - 0s 3ms/step - loss: 0.2180 - accuracy: 0.9096
Epoch 70/100
22/22 [==============================] - 0s 3ms/step - loss: 0.2175 - accuracy: 0.9082
Epoch 71/100
22/22 [==============================] - 0s 3ms/step - loss: 0.2168 - accuracy: 0.9096
Epoch 72/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2148 - accuracy: 0.9096
Epoch 73/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2152 - accuracy: 0.9096
Epoch 74/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2194 - accuracy: 0.9111
Epoch 75/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2154 - accuracy: 0.9096
Epoch 76/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2179 - accuracy: 0.9096
Epoch 77/100
22/22 [==============================] - 0s 3ms/step - loss: 0.2165 - accuracy: 0.9082
Epoch 78/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2161 - accuracy: 0.9111
Epoch 79/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2157 - accuracy: 0.9096
Epoch 80/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2147 - accuracy: 0.9111
Epoch 81/100
22/22 [==============================] - 0s 3ms/step - loss: 0.2168 - accuracy: 0.9082
Epoch 82/100
22/22 [==============================] - 0s 3ms/step - loss: 0.2160 - accuracy: 0.9111
Epoch 83/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2164 - accuracy: 0.9082
Epoch 84/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2172 - accuracy: 0.9052
Epoch 85/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2181 - accuracy: 0.9082
Epoch 86/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2161 - accuracy: 0.9111
Epoch 87/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2155 - accuracy: 0.9067
Epoch 88/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2158 - accuracy: 0.9140
Epoch 89/100
22/22 [==============================] - 0s 3ms/step - loss: 0.2131 - accuracy: 0.9125
Epoch 90/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2136 - accuracy: 0.9096
Epoch 91/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2140 - accuracy: 0.9082
Epoch 92/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2141 - accuracy: 0.9111
Epoch 93/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2146 - accuracy: 0.9067
Epoch 94/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2157 - accuracy: 0.9096
Epoch 95/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2162 - accuracy: 0.9096
Epoch 96/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2129 - accuracy: 0.9082
Epoch 97/100
22/22 [==============================] - 0s 3ms/step - loss: 0.2141 - accuracy: 0.9111
Epoch 98/100
22/22 [==============================] - 0s 3ms/step - loss: 0.2146 - accuracy: 0.9096
Epoch 99/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2177 - accuracy: 0.9111
Epoch 100/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2152 - accuracy: 0.9096

In [31]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8/8 - 0s - loss: 0.3172 - accuracy: 0.8996 - 244ms/epoch - 31ms/step
Loss: 0.31724119186401367, Accuracy: 0.8995633125305176

In [32]:
# Initialize an empty DataFrame to store the optimization results
results_df = pd.DataFrame(columns=['Iteration', 'Parameters Changed', 'Accuracy'])

# Define the initial results as a dictionary
initial_results = {'Iteration': ['Initial'],
                   'Parameters Changed': ['N/A'],
                   'Accuracy': [model_accuracy]}  # Assuming model_accuracy is already calculated

# Create DataFrame from the initial results dictionary
results_df = pd.DataFrame(initial_results)

# Print DataFrame to verify
print(results_df)

  Iteration Parameters Changed  Accuracy
0   Initial                N/A  0.899563

In [33]:
# Model Attempt 2
def create_model(input_shape, dropout_rate=0.2, l2_regularizer=0.001):
    model = tf.keras.models.Sequential([
        # Input layer
        tf.keras.layers.Input(shape=input_shape),
        
        # Hidden layers
        tf.keras.layers.Dense(units=128, activation='relu', kernel_regularizer=tf.keras.regularizers.l2(l2_regularizer)),
        tf.keras.layers.Dropout(dropout_rate),
        
        tf.keras.layers.Dense(units=64, activation='relu', kernel_regularizer=tf.keras.regularizers.l2(l2_regularizer)),
        tf.keras.layers.Dropout(dropout_rate),
        
        # Output layer
        tf.keras.layers.Dense(units=1, activation='sigmoid')
    ])
    
    return model

# Create the model
input_shape = X_train_scaled.shape[1]  # Number of features
model = create_model(input_shape)

# Compile the model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

# Print model summary
model.summary()

# Train the model
history = model.fit(X_train_scaled, y_train, epochs=100, validation_data=(X_test_scaled, y_test), verbose=1)

model_loss, model_accuracy = model.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

changes_made = "Adjusted architecture of model and dropout rate to 0.2 and L2 regularization strength to 0.001"
update_num = len(results_df) + 1
results_df.loc[results_df.shape[0]] = [f'Update #{update_num}', changes_made, model_accuracy]

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 128)               5632

 dropout (Dropout)           (None, 128)               0

 dense_4 (Dense)             (None, 64)                8256

 dropout_1 (Dropout)         (None, 64)                0

 dense_5 (Dense)             (None, 1)                 65

=================================================================
Total params: 13953 (54.50 KB)
Trainable params: 13953 (54.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________
Epoch 1/100
22/22 [==============================] - 2s 19ms/step - loss: 0.6332 - accuracy: 0.8163 - val_loss: 0.4984 - val_accuracy: 0.8821
Epoch 2/100
22/22 [==============================] - 0s 6ms/step - loss: 0.4924 - accuracy: 0.8834 - val_loss: 0.4499 - val_accuracy: 0.8996
Epoch 3/100
22/22 [==============================] - 0s 5ms/step - loss: 0.4368 - accuracy: 0.8805 - val_loss: 0.4221 - val_accuracy: 0.8996
Epoch 4/100
22/22 [==============================] - 0s 7ms/step - loss: 0.4176 - accuracy: 0.8834 - val_loss: 0.4115 - val_accuracy: 0.9039
Epoch 5/100
22/22 [==============================] - 0s 6ms/step - loss: 0.4059 - accuracy: 0.8878 - val_loss: 0.4024 - val_accuracy: 0.8996
Epoch 6/100
22/22 [==============================] - 0s 5ms/step - loss: 0.3923 - accuracy: 0.8907 - val_loss: 0.3939 - val_accuracy: 0.8996
Epoch 7/100
22/22 [==============================] - 0s 5ms/step - loss: 0.3717 - accuracy: 0.8907 - val_loss: 0.3890 - val_accuracy: 0.8996
Epoch 8/100
22/22 [==============================] - 0s 8ms/step - loss: 0.3676 - accuracy: 0.8980 - val_loss: 0.3822 - val_accuracy: 0.8996
Epoch 9/100
22/22 [==============================] - 0s 5ms/step - loss: 0.3595 - accuracy: 0.8907 - val_loss: 0.3819 - val_accuracy: 0.8996
Epoch 10/100
22/22 [==============================] - 0s 5ms/step - loss: 0.3552 - accuracy: 0.8994 - val_loss: 0.3792 - val_accuracy: 0.8996
Epoch 11/100
22/22 [==============================] - 0s 6ms/step - loss: 0.3456 - accuracy: 0.8936 - val_loss: 0.3710 - val_accuracy: 0.8996
Epoch 12/100
22/22 [==============================] - 0s 5ms/step - loss: 0.3401 - accuracy: 0.8936 - val_loss: 0.3723 - val_accuracy: 0.8996
Epoch 13/100
22/22 [==============================] - 0s 4ms/step - loss: 0.3413 - accuracy: 0.8892 - val_loss: 0.3743 - val_accuracy: 0.8996
Epoch 14/100
22/22 [==============================] - 0s 5ms/step - loss: 0.3340 - accuracy: 0.8965 - val_loss: 0.3739 - val_accuracy: 0.8952
Epoch 15/100
22/22 [==============================] - 0s 9ms/step - loss: 0.3358 - accuracy: 0.8936 - val_loss: 0.3687 - val_accuracy: 0.8996
Epoch 16/100
22/22 [==============================] - 0s 4ms/step - loss: 0.3309 - accuracy: 0.8863 - val_loss: 0.3673 - val_accuracy: 0.8952
Epoch 17/100
22/22 [==============================] - 0s 5ms/step - loss: 0.3229 - accuracy: 0.8965 - val_loss: 0.3679 - val_accuracy: 0.8996
Epoch 18/100
22/22 [==============================] - 0s 5ms/step - loss: 0.3151 - accuracy: 0.8980 - val_loss: 0.3621 - val_accuracy: 0.8952
Epoch 19/100
22/22 [==============================] - 0s 4ms/step - loss: 0.3130 - accuracy: 0.9082 - val_loss: 0.3618 - val_accuracy: 0.8996
Epoch 20/100
22/22 [==============================] - 0s 6ms/step - loss: 0.3102 - accuracy: 0.9009 - val_loss: 0.3652 - val_accuracy: 0.8952
Epoch 21/100
22/22 [==============================] - 0s 5ms/step - loss: 0.3111 - accuracy: 0.8980 - val_loss: 0.3587 - val_accuracy: 0.8996
Epoch 22/100
22/22 [==============================] - 0s 4ms/step - loss: 0.3104 - accuracy: 0.8936 - val_loss: 0.3596 - val_accuracy: 0.8996
Epoch 23/100
22/22 [==============================] - 0s 7ms/step - loss: 0.3154 - accuracy: 0.8965 - val_loss: 0.3558 - val_accuracy: 0.9039
Epoch 24/100
22/22 [==============================] - 0s 5ms/step - loss: 0.3090 - accuracy: 0.8936 - val_loss: 0.3498 - val_accuracy: 0.8996
Epoch 25/100
22/22 [==============================] - 0s 5ms/step - loss: 0.3036 - accuracy: 0.9009 - val_loss: 0.3554 - val_accuracy: 0.8996
Epoch 26/100
22/22 [==============================] - 0s 7ms/step - loss: 0.2966 - accuracy: 0.9052 - val_loss: 0.3533 - val_accuracy: 0.8996
Epoch 27/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2958 - accuracy: 0.9009 - val_loss: 0.3480 - val_accuracy: 0.8996
Epoch 28/100
22/22 [==============================] - 0s 5ms/step - loss: 0.3015 - accuracy: 0.9009 - val_loss: 0.3481 - val_accuracy: 0.8996
Epoch 29/100
22/22 [==============================] - 0s 7ms/step - loss: 0.2868 - accuracy: 0.9067 - val_loss: 0.3405 - val_accuracy: 0.8952
Epoch 30/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2922 - accuracy: 0.9082 - val_loss: 0.3448 - val_accuracy: 0.8952
Epoch 31/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2922 - accuracy: 0.8980 - val_loss: 0.3443 - val_accuracy: 0.8952
Epoch 32/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2983 - accuracy: 0.8994 - val_loss: 0.3411 - val_accuracy: 0.8952
Epoch 33/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2876 - accuracy: 0.9009 - val_loss: 0.3464 - val_accuracy: 0.8952
Epoch 34/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2856 - accuracy: 0.9052 - val_loss: 0.3424 - val_accuracy: 0.8952
Epoch 35/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2862 - accuracy: 0.9067 - val_loss: 0.3439 - val_accuracy: 0.8996
Epoch 36/100
22/22 [==============================] - 0s 7ms/step - loss: 0.2795 - accuracy: 0.9052 - val_loss: 0.3410 - val_accuracy: 0.8996
Epoch 37/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2823 - accuracy: 0.9023 - val_loss: 0.3357 - val_accuracy: 0.8952
Epoch 38/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2859 - accuracy: 0.9023 - val_loss: 0.3367 - val_accuracy: 0.8952
Epoch 39/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2875 - accuracy: 0.8994 - val_loss: 0.3312 - val_accuracy: 0.8952
Epoch 40/100
22/22 [==============================] - 0s 8ms/step - loss: 0.2812 - accuracy: 0.9009 - val_loss: 0.3292 - val_accuracy: 0.8952
Epoch 41/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2751 - accuracy: 0.9023 - val_loss: 0.3316 - val_accuracy: 0.8996
Epoch 42/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2794 - accuracy: 0.9023 - val_loss: 0.3310 - val_accuracy: 0.8952
Epoch 43/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2754 - accuracy: 0.9052 - val_loss: 0.3304 - val_accuracy: 0.8996
Epoch 44/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2794 - accuracy: 0.8994 - val_loss: 0.3277 - val_accuracy: 0.8952
Epoch 45/100
22/22 [==============================] - 0s 7ms/step - loss: 0.2771 - accuracy: 0.8994 - val_loss: 0.3300 - val_accuracy: 0.8952
Epoch 46/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2699 - accuracy: 0.9082 - val_loss: 0.3245 - val_accuracy: 0.8996
Epoch 47/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2751 - accuracy: 0.8980 - val_loss: 0.3222 - val_accuracy: 0.8996
Epoch 48/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2665 - accuracy: 0.9082 - val_loss: 0.3232 - val_accuracy: 0.8952
Epoch 49/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2731 - accuracy: 0.9009 - val_loss: 0.3284 - val_accuracy: 0.8996
Epoch 50/100
22/22 [==============================] - 0s 7ms/step - loss: 0.2698 - accuracy: 0.9067 - val_loss: 0.3213 - val_accuracy: 0.8996
Epoch 51/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2669 - accuracy: 0.9023 - val_loss: 0.3255 - val_accuracy: 0.8996
Epoch 52/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2733 - accuracy: 0.9052 - val_loss: 0.3246 - val_accuracy: 0.8952
Epoch 53/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2656 - accuracy: 0.9038 - val_loss: 0.3216 - val_accuracy: 0.8952
Epoch 54/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2715 - accuracy: 0.9038 - val_loss: 0.3183 - val_accuracy: 0.8952
Epoch 55/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2657 - accuracy: 0.9067 - val_loss: 0.3253 - val_accuracy: 0.8996
Epoch 56/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2690 - accuracy: 0.9038 - val_loss: 0.3215 - val_accuracy: 0.8952
Epoch 57/100
22/22 [==============================] - 0s 7ms/step - loss: 0.2664 - accuracy: 0.9023 - val_loss: 0.3169 - val_accuracy: 0.8996
Epoch 58/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2644 - accuracy: 0.9038 - val_loss: 0.3195 - val_accuracy: 0.8996
Epoch 59/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2618 - accuracy: 0.9082 - val_loss: 0.3167 - val_accuracy: 0.8952
Epoch 60/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2621 - accuracy: 0.9067 - val_loss: 0.3188 - val_accuracy: 0.8952
Epoch 61/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2628 - accuracy: 0.9052 - val_loss: 0.3169 - val_accuracy: 0.8952
Epoch 62/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2642 - accuracy: 0.9067 - val_loss: 0.3166 - val_accuracy: 0.8952
Epoch 63/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2574 - accuracy: 0.9038 - val_loss: 0.3176 - val_accuracy: 0.8996
Epoch 64/100
22/22 [==============================] - 0s 7ms/step - loss: 0.2619 - accuracy: 0.9023 - val_loss: 0.3152 - val_accuracy: 0.8952
Epoch 65/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2634 - accuracy: 0.9038 - val_loss: 0.3151 - val_accuracy: 0.8996
Epoch 66/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2599 - accuracy: 0.9067 - val_loss: 0.3145 - val_accuracy: 0.8996
Epoch 67/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2632 - accuracy: 0.9009 - val_loss: 0.3172 - val_accuracy: 0.8996
Epoch 68/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2581 - accuracy: 0.9038 - val_loss: 0.3141 - val_accuracy: 0.8952
Epoch 69/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2561 - accuracy: 0.9067 - val_loss: 0.3191 - val_accuracy: 0.8952
Epoch 70/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2617 - accuracy: 0.9038 - val_loss: 0.3151 - val_accuracy: 0.8952
Epoch 71/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2554 - accuracy: 0.9038 - val_loss: 0.3161 - val_accuracy: 0.8952
Epoch 72/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2488 - accuracy: 0.9067 - val_loss: 0.3138 - val_accuracy: 0.8952
Epoch 73/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2572 - accuracy: 0.9038 - val_loss: 0.3083 - val_accuracy: 0.8996
Epoch 74/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2551 - accuracy: 0.9125 - val_loss: 0.3150 - val_accuracy: 0.8952
Epoch 75/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2588 - accuracy: 0.9023 - val_loss: 0.3095 - val_accuracy: 0.8996
Epoch 76/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2568 - accuracy: 0.9038 - val_loss: 0.3084 - val_accuracy: 0.8952
Epoch 77/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2508 - accuracy: 0.9052 - val_loss: 0.3117 - val_accuracy: 0.8996
Epoch 78/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2558 - accuracy: 0.9140 - val_loss: 0.3123 - val_accuracy: 0.8952
Epoch 79/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2534 - accuracy: 0.9052 - val_loss: 0.3156 - val_accuracy: 0.8996
Epoch 80/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2566 - accuracy: 0.9038 - val_loss: 0.3099 - val_accuracy: 0.8996
Epoch 81/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2514 - accuracy: 0.9009 - val_loss: 0.3097 - val_accuracy: 0.8952
Epoch 82/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2558 - accuracy: 0.9096 - val_loss: 0.3075 - val_accuracy: 0.8996
Epoch 83/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2457 - accuracy: 0.9052 - val_loss: 0.3111 - val_accuracy: 0.8996
Epoch 84/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2477 - accuracy: 0.9052 - val_loss: 0.3119 - val_accuracy: 0.8996
Epoch 85/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2467 - accuracy: 0.9067 - val_loss: 0.3114 - val_accuracy: 0.8996
Epoch 86/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2484 - accuracy: 0.9082 - val_loss: 0.3129 - val_accuracy: 0.8952
Epoch 87/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2460 - accuracy: 0.9038 - val_loss: 0.3102 - val_accuracy: 0.8996
Epoch 88/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2489 - accuracy: 0.9052 - val_loss: 0.3088 - val_accuracy: 0.8996
Epoch 89/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2450 - accuracy: 0.9111 - val_loss: 0.3083 - val_accuracy: 0.8952
Epoch 90/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2524 - accuracy: 0.9038 - val_loss: 0.3089 - val_accuracy: 0.8952
Epoch 91/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2496 - accuracy: 0.9082 - val_loss: 0.3107 - val_accuracy: 0.8952
Epoch 92/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2434 - accuracy: 0.9038 - val_loss: 0.3114 - val_accuracy: 0.8996
Epoch 93/100
22/22 [==============================] - 0s 8ms/step - loss: 0.2442 - accuracy: 0.9082 - val_loss: 0.3096 - val_accuracy: 0.8996
Epoch 94/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2474 - accuracy: 0.9052 - val_loss: 0.3056 - val_accuracy: 0.8952
Epoch 95/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2504 - accuracy: 0.9096 - val_loss: 0.3037 - val_accuracy: 0.8996
Epoch 96/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2445 - accuracy: 0.9082 - val_loss: 0.3109 - val_accuracy: 0.8996
Epoch 97/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2519 - accuracy: 0.9023 - val_loss: 0.3056 - val_accuracy: 0.8952
Epoch 98/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2487 - accuracy: 0.9038 - val_loss: 0.3062 - val_accuracy: 0.8996
Epoch 99/100
22/22 [==============================] - 0s 7ms/step - loss: 0.2457 - accuracy: 0.9038 - val_loss: 0.3093 - val_accuracy: 0.8952
Epoch 100/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2420 - accuracy: 0.9111 - val_loss: 0.3041 - val_accuracy: 0.8996
8/8 - 0s - loss: 0.3041 - accuracy: 0.8996 - 47ms/epoch - 6ms/step
Loss: 0.3041059076786041, Accuracy: 0.8995633125305176

In [34]:
# Model Attempt 3

# Define the model with an additional layer
def create_model_with_extra_layer(input_shape, dropout_rate=0.3, l2_regularizer=0.0005):
    model = tf.keras.models.Sequential([
        # Input layer
        tf.keras.layers.Input(shape=input_shape),
        
        # Hidden layers
        tf.keras.layers.Dense(units=128, activation='relu', kernel_regularizer=tf.keras.regularizers.l2(l2_regularizer)),
        tf.keras.layers.Dropout(dropout_rate),
        
        tf.keras.layers.Dense(units=64, activation='relu', kernel_regularizer=tf.keras.regularizers.l2(l2_regularizer)),
        tf.keras.layers.Dropout(dropout_rate),
        
        # Additional hidden layer
        tf.keras.layers.Dense(units=32, activation='relu', kernel_regularizer=tf.keras.regularizers.l2(l2_regularizer)),
        tf.keras.layers.Dropout(dropout_rate),
        
        # Output layer
        tf.keras.layers.Dense(units=1, activation='sigmoid')
    ])
    
    return model

# Create the updated model
input_shape = X_train_scaled.shape[1]  # Number of features
updated_model = create_model_with_extra_layer(input_shape)

# Compile the updated model
updated_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

# Train and evaluate the updated model
history = updated_model.fit(X_train_scaled, y_train, epochs=100, validation_data=(X_test_scaled, y_test), verbose=1)
model_loss, model_accuracy = updated_model.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss (Updated): {model_loss}, Accuracy (Updated): {model_accuracy}")

# Record the changes made
changes_made = "Added an additional hidden layer with 32 units"
update_num = len(results_df) + 1
results_df.loc[results_df.shape[0]] = [f'Update #{update_num}', changes_made, model_accuracy]

Epoch 1/100
22/22 [==============================] - 2s 18ms/step - loss: 0.6361 - accuracy: 0.8134 - val_loss: 0.4763 - val_accuracy: 0.8821
Epoch 2/100
22/22 [==============================] - 0s 6ms/step - loss: 0.4652 - accuracy: 0.8805 - val_loss: 0.4056 - val_accuracy: 0.8821
Epoch 3/100
22/22 [==============================] - 0s 6ms/step - loss: 0.4464 - accuracy: 0.8848 - val_loss: 0.3854 - val_accuracy: 0.8821
Epoch 4/100
22/22 [==============================] - 0s 5ms/step - loss: 0.4153 - accuracy: 0.8834 - val_loss: 0.3752 - val_accuracy: 0.8996
Epoch 5/100
22/22 [==============================] - 0s 8ms/step - loss: 0.3972 - accuracy: 0.8790 - val_loss: 0.3692 - val_accuracy: 0.9039
Epoch 6/100
22/22 [==============================] - 0s 5ms/step - loss: 0.3852 - accuracy: 0.8892 - val_loss: 0.3622 - val_accuracy: 0.8996
Epoch 7/100
22/22 [==============================] - 0s 10ms/step - loss: 0.3629 - accuracy: 0.8878 - val_loss: 0.3617 - val_accuracy: 0.8996
Epoch 8/100
22/22 [==============================] - 0s 6ms/step - loss: 0.3646 - accuracy: 0.8950 - val_loss: 0.3564 - val_accuracy: 0.8996
Epoch 9/100
22/22 [==============================] - 0s 6ms/step - loss: 0.3552 - accuracy: 0.8848 - val_loss: 0.3569 - val_accuracy: 0.8996
Epoch 10/100
22/22 [==============================] - 0s 5ms/step - loss: 0.3506 - accuracy: 0.8892 - val_loss: 0.3538 - val_accuracy: 0.8996
Epoch 11/100
22/22 [==============================] - 0s 8ms/step - loss: 0.3406 - accuracy: 0.8776 - val_loss: 0.3555 - val_accuracy: 0.8952
Epoch 12/100
22/22 [==============================] - 0s 5ms/step - loss: 0.3455 - accuracy: 0.8936 - val_loss: 0.3519 - val_accuracy: 0.8952
Epoch 13/100
22/22 [==============================] - 0s 7ms/step - loss: 0.3375 - accuracy: 0.8907 - val_loss: 0.3508 - val_accuracy: 0.8952
Epoch 14/100
22/22 [==============================] - 0s 6ms/step - loss: 0.3371 - accuracy: 0.8965 - val_loss: 0.3491 - val_accuracy: 0.8952
Epoch 15/100
22/22 [==============================] - 0s 5ms/step - loss: 0.3397 - accuracy: 0.8776 - val_loss: 0.3484 - val_accuracy: 0.8996
Epoch 16/100
22/22 [==============================] - 0s 5ms/step - loss: 0.3361 - accuracy: 0.8907 - val_loss: 0.3504 - val_accuracy: 0.8952
Epoch 17/100
22/22 [==============================] - 0s 5ms/step - loss: 0.3329 - accuracy: 0.8907 - val_loss: 0.3488 - val_accuracy: 0.8952
Epoch 18/100
22/22 [==============================] - 0s 5ms/step - loss: 0.3258 - accuracy: 0.8980 - val_loss: 0.3457 - val_accuracy: 0.8952
Epoch 19/100
22/22 [==============================] - 0s 5ms/step - loss: 0.3184 - accuracy: 0.9038 - val_loss: 0.3452 - val_accuracy: 0.8996
Epoch 20/100
22/22 [==============================] - 0s 8ms/step - loss: 0.3179 - accuracy: 0.8950 - val_loss: 0.3472 - val_accuracy: 0.8996
Epoch 21/100
22/22 [==============================] - 0s 4ms/step - loss: 0.3362 - accuracy: 0.8965 - val_loss: 0.3479 - val_accuracy: 0.8996
Epoch 22/100
22/22 [==============================] - 0s 5ms/step - loss: 0.3208 - accuracy: 0.9009 - val_loss: 0.3443 - val_accuracy: 0.8996
Epoch 23/100
22/22 [==============================] - 0s 5ms/step - loss: 0.3266 - accuracy: 0.9009 - val_loss: 0.3423 - val_accuracy: 0.8996
Epoch 24/100
22/22 [==============================] - 0s 5ms/step - loss: 0.3098 - accuracy: 0.8980 - val_loss: 0.3438 - val_accuracy: 0.8996
Epoch 25/100
22/22 [==============================] - 0s 6ms/step - loss: 0.3067 - accuracy: 0.8980 - val_loss: 0.3446 - val_accuracy: 0.8996
Epoch 26/100
22/22 [==============================] - 0s 6ms/step - loss: 0.3171 - accuracy: 0.8907 - val_loss: 0.3418 - val_accuracy: 0.8996
Epoch 27/100
22/22 [==============================] - 0s 5ms/step - loss: 0.3110 - accuracy: 0.8994 - val_loss: 0.3417 - val_accuracy: 0.8996
Epoch 28/100
22/22 [==============================] - 0s 5ms/step - loss: 0.3102 - accuracy: 0.8950 - val_loss: 0.3429 - val_accuracy: 0.8952
Epoch 29/100
22/22 [==============================] - 0s 4ms/step - loss: 0.3116 - accuracy: 0.8965 - val_loss: 0.3386 - val_accuracy: 0.8996
Epoch 30/100
22/22 [==============================] - 0s 5ms/step - loss: 0.3047 - accuracy: 0.8950 - val_loss: 0.3432 - val_accuracy: 0.8996
Epoch 31/100
22/22 [==============================] - 0s 6ms/step - loss: 0.3008 - accuracy: 0.9023 - val_loss: 0.3446 - val_accuracy: 0.8996
Epoch 32/100
22/22 [==============================] - 0s 6ms/step - loss: 0.3009 - accuracy: 0.8936 - val_loss: 0.3387 - val_accuracy: 0.8996
Epoch 33/100
22/22 [==============================] - 0s 8ms/step - loss: 0.2928 - accuracy: 0.9052 - val_loss: 0.3449 - val_accuracy: 0.8996
Epoch 34/100
22/22 [==============================] - 0s 5ms/step - loss: 0.3082 - accuracy: 0.8950 - val_loss: 0.3413 - val_accuracy: 0.8996
Epoch 35/100
22/22 [==============================] - 0s 5ms/step - loss: 0.3076 - accuracy: 0.8921 - val_loss: 0.3392 - val_accuracy: 0.8996
Epoch 36/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2857 - accuracy: 0.9052 - val_loss: 0.3400 - val_accuracy: 0.8996
Epoch 37/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2970 - accuracy: 0.9038 - val_loss: 0.3381 - val_accuracy: 0.8996
Epoch 38/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2939 - accuracy: 0.8994 - val_loss: 0.3462 - val_accuracy: 0.8996
Epoch 39/100
22/22 [==============================] - 0s 9ms/step - loss: 0.3038 - accuracy: 0.8921 - val_loss: 0.3385 - val_accuracy: 0.8952
Epoch 40/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2939 - accuracy: 0.8994 - val_loss: 0.3362 - val_accuracy: 0.8952
Epoch 41/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2933 - accuracy: 0.9052 - val_loss: 0.3342 - val_accuracy: 0.8996
Epoch 42/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2866 - accuracy: 0.8980 - val_loss: 0.3389 - val_accuracy: 0.8996
Epoch 43/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2940 - accuracy: 0.8936 - val_loss: 0.3361 - val_accuracy: 0.8996
Epoch 44/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2882 - accuracy: 0.8965 - val_loss: 0.3377 - val_accuracy: 0.8996
Epoch 45/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2876 - accuracy: 0.8980 - val_loss: 0.3404 - val_accuracy: 0.8996
Epoch 46/100
22/22 [==============================] - 0s 8ms/step - loss: 0.2913 - accuracy: 0.9009 - val_loss: 0.3424 - val_accuracy: 0.8996
Epoch 47/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2827 - accuracy: 0.8994 - val_loss: 0.3365 - val_accuracy: 0.8996
Epoch 48/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2850 - accuracy: 0.8994 - val_loss: 0.3380 - val_accuracy: 0.8996
Epoch 49/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2841 - accuracy: 0.8965 - val_loss: 0.3373 - val_accuracy: 0.8996
Epoch 50/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2815 - accuracy: 0.8994 - val_loss: 0.3349 - val_accuracy: 0.8996
Epoch 51/100
22/22 [==============================] - 0s 7ms/step - loss: 0.2834 - accuracy: 0.9038 - val_loss: 0.3418 - val_accuracy: 0.8996
Epoch 52/100
22/22 [==============================] - 0s 7ms/step - loss: 0.2804 - accuracy: 0.8965 - val_loss: 0.3404 - val_accuracy: 0.8952
Epoch 53/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2809 - accuracy: 0.9023 - val_loss: 0.3383 - val_accuracy: 0.8952
Epoch 54/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2701 - accuracy: 0.9038 - val_loss: 0.3353 - val_accuracy: 0.8952
Epoch 55/100
22/22 [==============================] - 0s 8ms/step - loss: 0.2774 - accuracy: 0.9038 - val_loss: 0.3421 - val_accuracy: 0.8952
Epoch 56/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2788 - accuracy: 0.8994 - val_loss: 0.3357 - val_accuracy: 0.8952
Epoch 57/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2769 - accuracy: 0.9052 - val_loss: 0.3347 - val_accuracy: 0.8952
Epoch 58/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2751 - accuracy: 0.8980 - val_loss: 0.3372 - val_accuracy: 0.8952
Epoch 59/100
22/22 [==============================] - 0s 9ms/step - loss: 0.2740 - accuracy: 0.9038 - val_loss: 0.3344 - val_accuracy: 0.8952
Epoch 60/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2699 - accuracy: 0.9052 - val_loss: 0.3339 - val_accuracy: 0.8952
Epoch 61/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2717 - accuracy: 0.9038 - val_loss: 0.3338 - val_accuracy: 0.8952
Epoch 62/100
22/22 [==============================] - 0s 7ms/step - loss: 0.2727 - accuracy: 0.9082 - val_loss: 0.3289 - val_accuracy: 0.8952
Epoch 63/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2678 - accuracy: 0.8965 - val_loss: 0.3348 - val_accuracy: 0.8952
Epoch 64/100
22/22 [==============================] - 0s 7ms/step - loss: 0.2702 - accuracy: 0.9023 - val_loss: 0.3334 - val_accuracy: 0.8952
Epoch 65/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2762 - accuracy: 0.9052 - val_loss: 0.3314 - val_accuracy: 0.8996
Epoch 66/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2650 - accuracy: 0.9052 - val_loss: 0.3373 - val_accuracy: 0.8952
Epoch 67/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2661 - accuracy: 0.9038 - val_loss: 0.3343 - val_accuracy: 0.8952
Epoch 68/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2668 - accuracy: 0.9111 - val_loss: 0.3341 - val_accuracy: 0.8952
Epoch 69/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2670 - accuracy: 0.8965 - val_loss: 0.3327 - val_accuracy: 0.8952
Epoch 70/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2658 - accuracy: 0.8994 - val_loss: 0.3290 - val_accuracy: 0.8952
Epoch 71/100
22/22 [==============================] - 0s 8ms/step - loss: 0.2617 - accuracy: 0.9082 - val_loss: 0.3304 - val_accuracy: 0.8952
Epoch 72/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2598 - accuracy: 0.9023 - val_loss: 0.3302 - val_accuracy: 0.8952
Epoch 73/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2675 - accuracy: 0.9009 - val_loss: 0.3314 - val_accuracy: 0.8996
Epoch 74/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2624 - accuracy: 0.9052 - val_loss: 0.3302 - val_accuracy: 0.8996
Epoch 75/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2678 - accuracy: 0.8994 - val_loss: 0.3277 - val_accuracy: 0.8952
Epoch 76/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2696 - accuracy: 0.9009 - val_loss: 0.3227 - val_accuracy: 0.8952
Epoch 77/100
22/22 [==============================] - 0s 8ms/step - loss: 0.2603 - accuracy: 0.9067 - val_loss: 0.3262 - val_accuracy: 0.8952
Epoch 78/100
22/22 [==============================] - 0s 7ms/step - loss: 0.2640 - accuracy: 0.9023 - val_loss: 0.3267 - val_accuracy: 0.8952
Epoch 79/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2575 - accuracy: 0.9067 - val_loss: 0.3283 - val_accuracy: 0.8952
Epoch 80/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2709 - accuracy: 0.8994 - val_loss: 0.3270 - val_accuracy: 0.8952
Epoch 81/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2704 - accuracy: 0.9038 - val_loss: 0.3275 - val_accuracy: 0.8952
Epoch 82/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2616 - accuracy: 0.9038 - val_loss: 0.3322 - val_accuracy: 0.8996
Epoch 83/100
22/22 [==============================] - 0s 7ms/step - loss: 0.2624 - accuracy: 0.9038 - val_loss: 0.3294 - val_accuracy: 0.8996
Epoch 84/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2602 - accuracy: 0.9023 - val_loss: 0.3300 - val_accuracy: 0.8996
Epoch 85/100
22/22 [==============================] - 0s 7ms/step - loss: 0.2647 - accuracy: 0.9052 - val_loss: 0.3252 - val_accuracy: 0.8996
Epoch 86/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2667 - accuracy: 0.9009 - val_loss: 0.3292 - val_accuracy: 0.8952
Epoch 87/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2535 - accuracy: 0.9023 - val_loss: 0.3307 - val_accuracy: 0.8996
Epoch 88/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2591 - accuracy: 0.9038 - val_loss: 0.3264 - val_accuracy: 0.8996
Epoch 89/100
22/22 [==============================] - 0s 7ms/step - loss: 0.2614 - accuracy: 0.8965 - val_loss: 0.3263 - val_accuracy: 0.8996
Epoch 90/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2640 - accuracy: 0.9052 - val_loss: 0.3244 - val_accuracy: 0.8996
Epoch 91/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2523 - accuracy: 0.9052 - val_loss: 0.3241 - val_accuracy: 0.8996
Epoch 92/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2587 - accuracy: 0.9009 - val_loss: 0.3225 - val_accuracy: 0.8952
Epoch 93/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2550 - accuracy: 0.9038 - val_loss: 0.3215 - val_accuracy: 0.8952
Epoch 94/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2590 - accuracy: 0.9023 - val_loss: 0.3251 - val_accuracy: 0.8952
Epoch 95/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2570 - accuracy: 0.9052 - val_loss: 0.3220 - val_accuracy: 0.8996
Epoch 96/100
22/22 [==============================] - 0s 8ms/step - loss: 0.2548 - accuracy: 0.9052 - val_loss: 0.3233 - val_accuracy: 0.8996
Epoch 97/100
22/22 [==============================] - 0s 7ms/step - loss: 0.2514 - accuracy: 0.9023 - val_loss: 0.3247 - val_accuracy: 0.8996
Epoch 98/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2518 - accuracy: 0.9038 - val_loss: 0.3237 - val_accuracy: 0.8996
Epoch 99/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2510 - accuracy: 0.9082 - val_loss: 0.3238 - val_accuracy: 0.8996
Epoch 100/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2519 - accuracy: 0.9023 - val_loss: 0.3220 - val_accuracy: 0.8996
8/8 - 0s - loss: 0.3220 - accuracy: 0.8996 - 47ms/epoch - 6ms/step
Loss (Updated): 0.3220159411430359, Accuracy (Updated): 0.8995633125305176

In [35]:
# Save the results to a CSV file
results_df.to_csv('model_optimization_results.csv', index=False)