In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import sqlite3
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf

WARNING:tensorflow:From c:\Users\jackw\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
# Connect to the SQLite database
conn = sqlite3.connect('atwork.sqlite')

In [3]:
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
print(tables)

[('artwork',)]

In [4]:
# Read data from a specific table into a pandas DataFrame
table_name = 'artwork'
artwork_data = pd.read_sql_query(f"SELECT * FROM {table_name};", conn)

In [5]:
# Close the connection
conn.close()

In [6]:
artwork_data

,artwork_id,artist_name,title,exhibition_history,is_on_view,date,category_titles,artwork_type_title
0,78503,"Tsugouharu Foujita\nJapanese, 1886–1968",Portrait of Emily Crane Chadbourne,"New York, Reinhardt Galleries, Exhibition of P...",0,1922,Modern Art,Painting
1,53045,"André Lhote\nFrench, 1885-1962",Port of Bordeaux,"The Art Institute of Chicago, Henri Cartier-Br...",0,1914,Modern Art,Painting
2,217464,"Gladys Nilsson\nAmerican, born 1940",The Trogens,None,0,1967,Contemporary Art,Painting
3,93345,"Robert Smithson\nAmerican, 1938–1973",Chalk-Mirror Displacement,"London, Institute of Contemporary Art, “When A...",0,1969,Contemporary Art,Sculpture
4,266051,"Ingrid Pollard\nBritish, born 1953",The Boy Who Watches Ships Go By,None,0,2002,Photography and Media,Photograph
...,...,...,...,...,...,...,...,...
995,61024,"Rockwell Kent\nAmerican, 1882-1971",The Precipice,None,0,n.d.,Prints and Drawings,Print
996,36067,"Rockwell Kent\nAmerican, 1882–1971",Alaska,"Art Institute of Chicago, <a href=""https://www...",0,1919–27,Arts of the Americas,Painting
997,34040,"Rockwell Kent\nAmerican, 1882-1971",Blue Bird,None,0,1919,Prints and Drawings,Print
998,30383,"Rockwell Kent\nAmerican, 1882-1971",Still the Breath Divine does Move/ And the Bre...,None,0,1925,Prints and Drawings,Print
999,30380,"Rockwell Kent\nAmerican, 1882-1971",Angel - Greetings from the House of Weyhe MCMXXVI,None,0,1926,Prints and Drawings,Print

In [7]:
# Create DataFrame
df = pd.DataFrame(artwork_data)

In [8]:
# Split artist_name into name, nationality, and year columns
df[['name', 'nationality_year']] = df['artist_name'].str.split('(', n=1, expand=True)

In [9]:
df[['nationality', 'year']] = df['nationality_year'].str.extract(r'([A-Za-z\s]+),\s(\d{4}–\d{4})')

# Drop unnecessary columns
df.drop(['artist_name', 'nationality_year'], axis=1, inplace=True)

df

,artwork_id,title,exhibition_history,is_on_view,date,category_titles,artwork_type_title,name,nationality,year
0,78503,Portrait of Emily Crane Chadbourne,"New York, Reinhardt Galleries, Exhibition of P...",0,1922,Modern Art,Painting,"Tsugouharu Foujita\nJapanese, 1886–1968",NaN,NaN
1,53045,Port of Bordeaux,"The Art Institute of Chicago, Henri Cartier-Br...",0,1914,Modern Art,Painting,"André Lhote\nFrench, 1885-1962",NaN,NaN
2,217464,The Trogens,None,0,1967,Contemporary Art,Painting,"Gladys Nilsson\nAmerican, born 1940",NaN,NaN
3,93345,Chalk-Mirror Displacement,"London, Institute of Contemporary Art, “When A...",0,1969,Contemporary Art,Sculpture,"Robert Smithson\nAmerican, 1938–1973",NaN,NaN
4,266051,The Boy Who Watches Ships Go By,None,0,2002,Photography and Media,Photograph,"Ingrid Pollard\nBritish, born 1953",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
995,61024,The Precipice,None,0,n.d.,Prints and Drawings,Print,"Rockwell Kent\nAmerican, 1882-1971",NaN,NaN
996,36067,Alaska,"Art Institute of Chicago, <a href=""https://www...",0,1919–27,Arts of the Americas,Painting,"Rockwell Kent\nAmerican, 1882–1971",NaN,NaN
997,34040,Blue Bird,None,0,1919,Prints and Drawings,Print,"Rockwell Kent\nAmerican, 1882-1971",NaN,NaN
998,30383,Still the Breath Divine does Move/ And the Bre...,None,0,1925,Prints and Drawings,Print,"Rockwell Kent\nAmerican, 1882-1971",NaN,NaN
999,30380,Angel - Greetings from the House of Weyhe MCMXXVI,None,0,1926,Prints and Drawings,Print,"Rockwell Kent\nAmerican, 1882-1971",NaN,NaN

In [10]:
# Create a DataFrame
df = df[['artwork_id', 'name', 'nationality', 'year', 'title', 'exhibition_history', 'is_on_view', 'date', 'category_titles', 'artwork_type_title']].rename(columns={
    'artwork_id': 'ID',
    'exhibition_history': 'exhibition',
    'is_on_view': 'View',
    'artwork_type_title': 'type'
})

# Display DataFrame
df

,ID,name,nationality,year,title,exhibition,View,date,category_titles,type
0,78503,"Tsugouharu Foujita\nJapanese, 1886–1968",NaN,NaN,Portrait of Emily Crane Chadbourne,"New York, Reinhardt Galleries, Exhibition of P...",0,1922,Modern Art,Painting
1,53045,"André Lhote\nFrench, 1885-1962",NaN,NaN,Port of Bordeaux,"The Art Institute of Chicago, Henri Cartier-Br...",0,1914,Modern Art,Painting
2,217464,"Gladys Nilsson\nAmerican, born 1940",NaN,NaN,The Trogens,None,0,1967,Contemporary Art,Painting
3,93345,"Robert Smithson\nAmerican, 1938–1973",NaN,NaN,Chalk-Mirror Displacement,"London, Institute of Contemporary Art, “When A...",0,1969,Contemporary Art,Sculpture
4,266051,"Ingrid Pollard\nBritish, born 1953",NaN,NaN,The Boy Who Watches Ships Go By,None,0,2002,Photography and Media,Photograph
...,...,...,...,...,...,...,...,...,...,...
995,61024,"Rockwell Kent\nAmerican, 1882-1971",NaN,NaN,The Precipice,None,0,n.d.,Prints and Drawings,Print
996,36067,"Rockwell Kent\nAmerican, 1882–1971",NaN,NaN,Alaska,"Art Institute of Chicago, <a href=""https://www...",0,1919–27,Arts of the Americas,Painting
997,34040,"Rockwell Kent\nAmerican, 1882-1971",NaN,NaN,Blue Bird,None,0,1919,Prints and Drawings,Print
998,30383,"Rockwell Kent\nAmerican, 1882-1971",NaN,NaN,Still the Breath Divine does Move/ And the Bre...,None,0,1925,Prints and Drawings,Print
999,30380,"Rockwell Kent\nAmerican, 1882-1971",NaN,NaN,Angel - Greetings from the House of Weyhe MCMXXVI,None,0,1926,Prints and Drawings,Print

In [11]:
df['exhibition'] = df['exhibition'].apply(lambda x: 0 if 'None' in str(x) else 1)
df

,ID,name,nationality,year,title,exhibition,View,date,category_titles,type
0,78503,"Tsugouharu Foujita\nJapanese, 1886–1968",NaN,NaN,Portrait of Emily Crane Chadbourne,1,0,1922,Modern Art,Painting
1,53045,"André Lhote\nFrench, 1885-1962",NaN,NaN,Port of Bordeaux,1,0,1914,Modern Art,Painting
2,217464,"Gladys Nilsson\nAmerican, born 1940",NaN,NaN,The Trogens,0,0,1967,Contemporary Art,Painting
3,93345,"Robert Smithson\nAmerican, 1938–1973",NaN,NaN,Chalk-Mirror Displacement,1,0,1969,Contemporary Art,Sculpture
4,266051,"Ingrid Pollard\nBritish, born 1953",NaN,NaN,The Boy Who Watches Ships Go By,0,0,2002,Photography and Media,Photograph
...,...,...,...,...,...,...,...,...,...,...
995,61024,"Rockwell Kent\nAmerican, 1882-1971",NaN,NaN,The Precipice,0,0,n.d.,Prints and Drawings,Print
996,36067,"Rockwell Kent\nAmerican, 1882–1971",NaN,NaN,Alaska,1,0,1919–27,Arts of the Americas,Painting
997,34040,"Rockwell Kent\nAmerican, 1882-1971",NaN,NaN,Blue Bird,0,0,1919,Prints and Drawings,Print
998,30383,"Rockwell Kent\nAmerican, 1882-1971",NaN,NaN,Still the Breath Divine does Move/ And the Bre...,0,0,1925,Prints and Drawings,Print
999,30380,"Rockwell Kent\nAmerican, 1882-1971",NaN,NaN,Angel - Greetings from the House of Weyhe MCMXXVI,0,0,1926,Prints and Drawings,Print

In [12]:
# Replace NaN values in the 'nationality' column with 'Unknown'
df['nationality'].fillna(value='Unknown', inplace=True)
df['year'].fillna(value='Unknown', inplace=True)
df

,ID,name,nationality,year,title,exhibition,View,date,category_titles,type
0,78503,"Tsugouharu Foujita\nJapanese, 1886–1968",Unknown,Unknown,Portrait of Emily Crane Chadbourne,1,0,1922,Modern Art,Painting
1,53045,"André Lhote\nFrench, 1885-1962",Unknown,Unknown,Port of Bordeaux,1,0,1914,Modern Art,Painting
2,217464,"Gladys Nilsson\nAmerican, born 1940",Unknown,Unknown,The Trogens,0,0,1967,Contemporary Art,Painting
3,93345,"Robert Smithson\nAmerican, 1938–1973",Unknown,Unknown,Chalk-Mirror Displacement,1,0,1969,Contemporary Art,Sculpture
4,266051,"Ingrid Pollard\nBritish, born 1953",Unknown,Unknown,The Boy Who Watches Ships Go By,0,0,2002,Photography and Media,Photograph
...,...,...,...,...,...,...,...,...,...,...
995,61024,"Rockwell Kent\nAmerican, 1882-1971",Unknown,Unknown,The Precipice,0,0,n.d.,Prints and Drawings,Print
996,36067,"Rockwell Kent\nAmerican, 1882–1971",Unknown,Unknown,Alaska,1,0,1919–27,Arts of the Americas,Painting
997,34040,"Rockwell Kent\nAmerican, 1882-1971",Unknown,Unknown,Blue Bird,0,0,1919,Prints and Drawings,Print
998,30383,"Rockwell Kent\nAmerican, 1882-1971",Unknown,Unknown,Still the Breath Divine does Move/ And the Bre...,0,0,1925,Prints and Drawings,Print
999,30380,"Rockwell Kent\nAmerican, 1882-1971",Unknown,Unknown,Angel - Greetings from the House of Weyhe MCMXXVI,0,0,1926,Prints and Drawings,Print

In [13]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df = df.drop(columns=['ID', 'name', 'title', 'year'])
df.head()

  nationality  exhibition  View  date        category_titles        type
0     Unknown           1     0  1922             Modern Art    Painting
1     Unknown           1     0  1914             Modern Art    Painting
2     Unknown           0     0  1967       Contemporary Art    Painting
3     Unknown           1     0  1969       Contemporary Art   Sculpture
4     Unknown           0     0  2002  Photography and Media  Photograph

In [14]:
# Determine the number of unique values in each column.
unique_values = df.nunique()
print(unique_values)

nationality          7
exhibition           2
View                 2
date               479
category_titles     22
type                21
dtype: int64

In [15]:
# Look at date value counts for binning
date_counts = df['date'].value_counts()
print(date_counts)

date
1936, published May 26, 1942    27
n.d.                            22
1978                            18
1970                            17
published 1931                  16
                                ..
1625/50                          1
1877                             1
c. 1881                          1
1882–83                          1
1925                             1
Name: count, Length: 479, dtype: int64

In [16]:
import re
# Drop rows where 'date' is 'n.d.' in the original DataFrame
df.drop(df[df['date'] == 'n.d.'].index, inplace=True)
# Function to handle cases like '1649/1655'
def replace_year_range(text):
    parts = text.split('/')
    if len(parts) > 0:
        return parts[0]
    return None

# Function to extract year from a string
def extract_year(text):
    match = re.search(r'\b\d{4}\b', text)
    if match:
        return match.group()
    return None

# Replace the 'date' values containing '1936, published May 26, 1942' with '1936'
df.loc[df['date'] == '1936, published May 26, 1942', 'date'] = '1936'
df.loc[df['date'] == 'published 1931'] = '1931'
df.loc[df['date'] == '1949, published December 1954'] = '1949'
df.loc[df['date'] == '1882–83'] = '1882'
df.loc[df['date'] == '1880–82'] = '1880'
df['date'] = df['date'].apply(lambda x: replace_year_range(x) if '/' in x else extract_year(x) if isinstance(x, str) else x)

In [17]:
# Check the data types of values in the 'date' column
date_types = df['date'].apply(type).value_counts()
print(date_types)

date
<class 'str'>         951
<class 'NoneType'>     27
Name: count, dtype: int64

In [18]:
df = df[df['date'].notna()]

In [19]:
# Look at date value counts for binning
date_counts = df['date'].value_counts()
print(date_counts)

date
1936    37
1949    29
1931    24
1905    23
1933    23
        ..
1649     1
1662     1
1663     1
1673     1
1580     1
Name: count, Length: 176, dtype: int64

In [20]:
df = df[df['nationality'] != '1931']
df = df[df['nationality'] != '1949']
df = df[df['View'] != '1880']
df = df[df['View'] != '1882']
nat_counts = df['nationality'].value_counts()
print(nat_counts)

nationality
Unknown        790
American       115
French           8
 born Italy      2
Chinese          1
Italian          1
Flemish          1
Name: count, dtype: int64

In [21]:
# Choose a cutoff value and create a list of nationalities to be replaced
# use the variable name `nationalities_to_replace`
cutoff_value_class = 7
nationalities_to_replace = list(nat_counts[nat_counts < cutoff_value_class].index)

# Replace in dataframe
for nat in nationalities_to_replace:
    df['nationality'] = df['nationality'].replace(nat,"Other")

# Check to make sure binning was successful
df['nationality'].value_counts()

nationality
Unknown     790
American    115
French        8
Other         5
Name: count, dtype: int64

In [22]:
# Convert 'date' column to numeric values (years)
df['date'] = pd.to_numeric(df['date'], errors='coerce')

# Drop rows with NaN values in the 'date' column
df.dropna(subset=['date'], inplace=True)

# Convert the 'date' column to integers
df['date'] = df['date'].astype(int)

# Display the updated DataFrame
df

    nationality exhibition View  date        category_titles        type
0       Unknown          1    0  1922             Modern Art    Painting
1       Unknown          1    0  1914             Modern Art    Painting
2       Unknown          0    0  1967       Contemporary Art    Painting
3       Unknown          1    0  1969       Contemporary Art   Sculpture
4       Unknown          0    0  2002  Photography and Media  Photograph
..          ...        ...  ...   ...                    ...         ...
994     Unknown          0    0  1927    Prints and Drawings       Print
996     Unknown          1    0  1919   Arts of the Americas    Painting
997     Unknown          0    0  1919    Prints and Drawings       Print
998     Unknown          0    0  1925    Prints and Drawings       Print
999     Unknown          0    0  1926    Prints and Drawings       Print

[915 rows x 6 columns]

In [23]:
df['View'] = df['View'].astype(bool)
df['exhibition'] = df['exhibition'].astype(bool)
date_types_1 = df['View'].apply(type).value_counts()
print(date_types_1)

View
<class 'bool'>    915
Name: count, dtype: int64

In [24]:
# Convert categorical data to numeric with `pd.get_dummies`
df_encoded = pd.get_dummies(df)
df_encoded.head()

,exhibition,View,date,nationality_American,nationality_French,nationality_Other,nationality_Unknown,category_titles_AIC Archives,category_titles_African American artists,category_titles_African Diaspora,...,type_Installation,type_Metalwork,type_Mixed Media,type_Painting,type_Photograph,type_Print,type_Religious/Ritual Object,type_Sculpture,type_Textile,type_Vessel
0,True,False,1922,False,False,False,True,False,False,False,...,False,False,False,True,False,False,False,False,False,False
1,True,False,1914,False,False,False,True,False,False,False,...,False,False,False,True,False,False,False,False,False,False
2,False,False,1967,False,False,False,True,False,False,False,...,False,False,False,True,False,False,False,False,False,False
3,True,False,1969,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,True,False,False
4,False,False,2002,False,False,False,True,False,False,False,...,False,False,False,False,True,False,False,False,False,False

In [25]:
# Split our preprocessed data into our features and target arrays
X = df_encoded.drop(columns=['View']).values
y = df_encoded['View'].values

In [26]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [27]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [28]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

WARNING:tensorflow:From c:\Users\jackw\anaconda3\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5981 (23.36 KB)
Trainable params: 5981 (23.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [29]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

WARNING:tensorflow:From c:\Users\jackw\anaconda3\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [30]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
WARNING:tensorflow:From c:\Users\jackw\anaconda3\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\jackw\anaconda3\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

22/22 [==============================] - 1s 3ms/step - loss: 0.5282 - accuracy: 0.7945
Epoch 2/100
22/22 [==============================] - 0s 3ms/step - loss: 0.3455 - accuracy: 0.8819
Epoch 3/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2927 - accuracy: 0.8819
Epoch 4/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2711 - accuracy: 0.8892
Epoch 5/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2603 - accuracy: 0.8921
Epoch 6/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2546 - accuracy: 0.8965
Epoch 7/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2493 - accuracy: 0.8994
Epoch 8/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2454 - accuracy: 0.8980
Epoch 9/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2432 - accuracy: 0.9023
Epoch 10/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2405 - accuracy: 0.9023
Epoch 11/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2390 - accuracy: 0.8994
Epoch 12/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2384 - accuracy: 0.9009
Epoch 13/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2351 - accuracy: 0.9052
Epoch 14/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2342 - accuracy: 0.9052
Epoch 15/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2341 - accuracy: 0.9023
Epoch 16/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2324 - accuracy: 0.9023
Epoch 17/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2344 - accuracy: 0.8980
Epoch 18/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2314 - accuracy: 0.9067
Epoch 19/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2312 - accuracy: 0.9052
Epoch 20/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2304 - accuracy: 0.9052
Epoch 21/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2280 - accuracy: 0.9038
Epoch 22/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2304 - accuracy: 0.9023
Epoch 23/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2269 - accuracy: 0.9038
Epoch 24/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2278 - accuracy: 0.9052
Epoch 25/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2281 - accuracy: 0.9067
Epoch 26/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2260 - accuracy: 0.9082
Epoch 27/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2262 - accuracy: 0.9082
Epoch 28/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2267 - accuracy: 0.9052
Epoch 29/100
22/22 [==============================] - 0s 3ms/step - loss: 0.2245 - accuracy: 0.9082
Epoch 30/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2251 - accuracy: 0.9067
Epoch 31/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2254 - accuracy: 0.9067
Epoch 32/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2261 - accuracy: 0.9067
Epoch 33/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2251 - accuracy: 0.9067
Epoch 34/100
22/22 [==============================] - 0s 3ms/step - loss: 0.2257 - accuracy: 0.9052
Epoch 35/100
22/22 [==============================] - 0s 3ms/step - loss: 0.2244 - accuracy: 0.9052
Epoch 36/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2259 - accuracy: 0.9067
Epoch 37/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2241 - accuracy: 0.9052
Epoch 38/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2248 - accuracy: 0.9067
Epoch 39/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2240 - accuracy: 0.9052
Epoch 40/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2222 - accuracy: 0.9082
Epoch 41/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2220 - accuracy: 0.9067
Epoch 42/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2235 - accuracy: 0.9052
Epoch 43/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2223 - accuracy: 0.9067
Epoch 44/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2206 - accuracy: 0.9052
Epoch 45/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2215 - accuracy: 0.9082
Epoch 46/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2229 - accuracy: 0.9067
Epoch 47/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2210 - accuracy: 0.9082
Epoch 48/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2213 - accuracy: 0.9067
Epoch 49/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2207 - accuracy: 0.9082
Epoch 50/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2201 - accuracy: 0.9082
Epoch 51/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2197 - accuracy: 0.9096
Epoch 52/100
22/22 [==============================] - 0s 3ms/step - loss: 0.2206 - accuracy: 0.9067
Epoch 53/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2200 - accuracy: 0.9096
Epoch 54/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2187 - accuracy: 0.9111
Epoch 55/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2208 - accuracy: 0.9082
Epoch 56/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2187 - accuracy: 0.9125
Epoch 57/100
22/22 [==============================] - 0s 3ms/step - loss: 0.2192 - accuracy: 0.9111
Epoch 58/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2196 - accuracy: 0.9082
Epoch 59/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2180 - accuracy: 0.9082
Epoch 60/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2184 - accuracy: 0.9082
Epoch 61/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2210 - accuracy: 0.9082
Epoch 62/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2208 - accuracy: 0.9082
Epoch 63/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2183 - accuracy: 0.9111
Epoch 64/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2173 - accuracy: 0.9082
Epoch 65/100
22/22 [==============================] - 0s 3ms/step - loss: 0.2202 - accuracy: 0.9038
Epoch 66/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2190 - accuracy: 0.9082
Epoch 67/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2177 - accuracy: 0.9111
Epoch 68/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2180 - accuracy: 0.9096
Epoch 69/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2163 - accuracy: 0.9111
Epoch 70/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2155 - accuracy: 0.9096
Epoch 71/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2161 - accuracy: 0.9082
Epoch 72/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2179 - accuracy: 0.9096
Epoch 73/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2177 - accuracy: 0.9067
Epoch 74/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2159 - accuracy: 0.9096
Epoch 75/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2156 - accuracy: 0.9111
Epoch 76/100
22/22 [==============================] - 0s 3ms/step - loss: 0.2176 - accuracy: 0.9111
Epoch 77/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2162 - accuracy: 0.9067
Epoch 78/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2144 - accuracy: 0.9111
Epoch 79/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2148 - accuracy: 0.9096
Epoch 80/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2181 - accuracy: 0.9111
Epoch 81/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2162 - accuracy: 0.9082
Epoch 82/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2158 - accuracy: 0.9067
Epoch 83/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2159 - accuracy: 0.9096
Epoch 84/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2156 - accuracy: 0.9082
Epoch 85/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2145 - accuracy: 0.9111
Epoch 86/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2153 - accuracy: 0.9125
Epoch 87/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2139 - accuracy: 0.9096
Epoch 88/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2162 - accuracy: 0.9082
Epoch 89/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2141 - accuracy: 0.9111
Epoch 90/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2134 - accuracy: 0.9096
Epoch 91/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2152 - accuracy: 0.9082
Epoch 92/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2129 - accuracy: 0.9111
Epoch 93/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2147 - accuracy: 0.9096
Epoch 94/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2156 - accuracy: 0.9111
Epoch 95/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2138 - accuracy: 0.9096
Epoch 96/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2135 - accuracy: 0.9082
Epoch 97/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2148 - accuracy: 0.9096
Epoch 98/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2140 - accuracy: 0.9067
Epoch 99/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2138 - accuracy: 0.9096
Epoch 100/100
22/22 [==============================] - 0s 2ms/step - loss: 0.2135 - accuracy: 0.9140

In [31]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8/8 - 0s - loss: 0.3287 - accuracy: 0.8996 - 176ms/epoch - 22ms/step
Loss: 0.3287403881549835, Accuracy: 0.8995633125305176

In [32]:
# Initialize an empty DataFrame to store the optimization results
results_df = pd.DataFrame(columns=['Iteration', 'Parameters Changed', 'Accuracy'])

# Define the initial results as a dictionary
initial_results = {'Iteration': ['Initial'],
                   'Parameters Changed': ['N/A'],
                   'Accuracy': [model_accuracy]}  # Assuming model_accuracy is already calculated

# Create DataFrame from the initial results dictionary
results_df = pd.DataFrame(initial_results)

# Print DataFrame to verify
print(results_df)

  Iteration Parameters Changed  Accuracy
0   Initial                N/A  0.899563

In [33]:
# Model Attempt 2
def create_model(input_shape, dropout_rate=0.2, l2_regularizer=0.001):
    model = tf.keras.models.Sequential([
        # Input layer
        tf.keras.layers.Input(shape=input_shape),
        
        # Hidden layers
        tf.keras.layers.Dense(units=128, activation='relu', kernel_regularizer=tf.keras.regularizers.l2(l2_regularizer)),
        tf.keras.layers.Dropout(dropout_rate),
        
        tf.keras.layers.Dense(units=64, activation='relu', kernel_regularizer=tf.keras.regularizers.l2(l2_regularizer)),
        tf.keras.layers.Dropout(dropout_rate),
        
        # Output layer
        tf.keras.layers.Dense(units=1, activation='sigmoid')
    ])
    
    return model

# Create the model
input_shape = X_train_scaled.shape[1]  # Number of features
model = create_model(input_shape)

# Compile the model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

# Print model summary
model.summary()

# Train the model
history = model.fit(X_train_scaled, y_train, epochs=100, validation_data=(X_test_scaled, y_test), verbose=1)

model_loss_2, model_accuracy_2 = model.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss_2}, Accuracy: {model_accuracy_2}")

changes_made = "Adjusted architecture of model and dropout rate to 0.2 and L2 regularization strength to 0.001"
update_num = len(results_df) + 1
results_df.loc[results_df.shape[0]] = [f'Update #{update_num}', changes_made, model_accuracy_2]

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 128)               5632

 dropout (Dropout)           (None, 128)               0

 dense_4 (Dense)             (None, 64)                8256

 dropout_1 (Dropout)         (None, 64)                0

 dense_5 (Dense)             (None, 1)                 65

=================================================================
Total params: 13953 (54.50 KB)
Trainable params: 13953 (54.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________
Epoch 1/100
22/22 [==============================] - 1s 15ms/step - loss: 0.6249 - accuracy: 0.8280 - val_loss: 0.4819 - val_accuracy: 0.8821
Epoch 2/100
22/22 [==============================] - 0s 4ms/step - loss: 0.4704 - accuracy: 0.8834 - val_loss: 0.4440 - val_accuracy: 0.8952
Epoch 3/100
22/22 [==============================] - 0s 5ms/step - loss: 0.4233 - accuracy: 0.8965 - val_loss: 0.4185 - val_accuracy: 0.8996
Epoch 4/100
22/22 [==============================] - 0s 5ms/step - loss: 0.4064 - accuracy: 0.8848 - val_loss: 0.4004 - val_accuracy: 0.9039
Epoch 5/100
22/22 [==============================] - 0s 6ms/step - loss: 0.3914 - accuracy: 0.8878 - val_loss: 0.3934 - val_accuracy: 0.8996
Epoch 6/100
22/22 [==============================] - 0s 5ms/step - loss: 0.3801 - accuracy: 0.8994 - val_loss: 0.3945 - val_accuracy: 0.8996
Epoch 7/100
22/22 [==============================] - 0s 4ms/step - loss: 0.3685 - accuracy: 0.8950 - val_loss: 0.3962 - val_accuracy: 0.8952
Epoch 8/100
22/22 [==============================] - 0s 7ms/step - loss: 0.3718 - accuracy: 0.8907 - val_loss: 0.3894 - val_accuracy: 0.8952
Epoch 9/100
22/22 [==============================] - 0s 6ms/step - loss: 0.3683 - accuracy: 0.8936 - val_loss: 0.3862 - val_accuracy: 0.8952
Epoch 10/100
22/22 [==============================] - 0s 5ms/step - loss: 0.3504 - accuracy: 0.8980 - val_loss: 0.3813 - val_accuracy: 0.8996
Epoch 11/100
22/22 [==============================] - 0s 4ms/step - loss: 0.3501 - accuracy: 0.8907 - val_loss: 0.3799 - val_accuracy: 0.8996
Epoch 12/100
22/22 [==============================] - 0s 4ms/step - loss: 0.3448 - accuracy: 0.8907 - val_loss: 0.3747 - val_accuracy: 0.8996
Epoch 13/100
22/22 [==============================] - 0s 5ms/step - loss: 0.3398 - accuracy: 0.9009 - val_loss: 0.3684 - val_accuracy: 0.8996
Epoch 14/100
22/22 [==============================] - 0s 5ms/step - loss: 0.3292 - accuracy: 0.9038 - val_loss: 0.3701 - val_accuracy: 0.8996
Epoch 15/100
22/22 [==============================] - 0s 6ms/step - loss: 0.3430 - accuracy: 0.8907 - val_loss: 0.3690 - val_accuracy: 0.8996
Epoch 16/100
22/22 [==============================] - 0s 6ms/step - loss: 0.3341 - accuracy: 0.8994 - val_loss: 0.3673 - val_accuracy: 0.8952
Epoch 17/100
22/22 [==============================] - 0s 4ms/step - loss: 0.3295 - accuracy: 0.8950 - val_loss: 0.3713 - val_accuracy: 0.8952
Epoch 18/100
22/22 [==============================] - 0s 5ms/step - loss: 0.3223 - accuracy: 0.8980 - val_loss: 0.3656 - val_accuracy: 0.8952
Epoch 19/100
22/22 [==============================] - 0s 4ms/step - loss: 0.3183 - accuracy: 0.8936 - val_loss: 0.3654 - val_accuracy: 0.8952
Epoch 20/100
22/22 [==============================] - 0s 4ms/step - loss: 0.3231 - accuracy: 0.8965 - val_loss: 0.3615 - val_accuracy: 0.8952
Epoch 21/100
22/22 [==============================] - 0s 4ms/step - loss: 0.3147 - accuracy: 0.8936 - val_loss: 0.3584 - val_accuracy: 0.8952
Epoch 22/100
22/22 [==============================] - 0s 5ms/step - loss: 0.3111 - accuracy: 0.8965 - val_loss: 0.3619 - val_accuracy: 0.8952
Epoch 23/100
22/22 [==============================] - 0s 6ms/step - loss: 0.3127 - accuracy: 0.8980 - val_loss: 0.3557 - val_accuracy: 0.8952
Epoch 24/100
22/22 [==============================] - 0s 5ms/step - loss: 0.3138 - accuracy: 0.8980 - val_loss: 0.3545 - val_accuracy: 0.8996
Epoch 25/100
22/22 [==============================] - 0s 5ms/step - loss: 0.3047 - accuracy: 0.9009 - val_loss: 0.3515 - val_accuracy: 0.8996
Epoch 26/100
22/22 [==============================] - 0s 4ms/step - loss: 0.3098 - accuracy: 0.9009 - val_loss: 0.3538 - val_accuracy: 0.8952
Epoch 27/100
22/22 [==============================] - 0s 4ms/step - loss: 0.3058 - accuracy: 0.9023 - val_loss: 0.3492 - val_accuracy: 0.8952
Epoch 28/100
22/22 [==============================] - 0s 4ms/step - loss: 0.3013 - accuracy: 0.9023 - val_loss: 0.3489 - val_accuracy: 0.8996
Epoch 29/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2993 - accuracy: 0.8863 - val_loss: 0.3472 - val_accuracy: 0.8996
Epoch 30/100
22/22 [==============================] - 0s 7ms/step - loss: 0.2979 - accuracy: 0.9023 - val_loss: 0.3471 - val_accuracy: 0.8996
Epoch 31/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2871 - accuracy: 0.9052 - val_loss: 0.3493 - val_accuracy: 0.8996
Epoch 32/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2897 - accuracy: 0.9067 - val_loss: 0.3421 - val_accuracy: 0.8952
Epoch 33/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2969 - accuracy: 0.9067 - val_loss: 0.3421 - val_accuracy: 0.8952
Epoch 34/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2877 - accuracy: 0.9082 - val_loss: 0.3444 - val_accuracy: 0.8952
Epoch 35/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2941 - accuracy: 0.9023 - val_loss: 0.3359 - val_accuracy: 0.8996
Epoch 36/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2875 - accuracy: 0.9052 - val_loss: 0.3342 - val_accuracy: 0.8996
Epoch 37/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2829 - accuracy: 0.9038 - val_loss: 0.3354 - val_accuracy: 0.8952
Epoch 38/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2878 - accuracy: 0.9009 - val_loss: 0.3377 - val_accuracy: 0.8952
Epoch 39/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2809 - accuracy: 0.9009 - val_loss: 0.3324 - val_accuracy: 0.8996
Epoch 40/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2875 - accuracy: 0.9052 - val_loss: 0.3305 - val_accuracy: 0.8952
Epoch 41/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2846 - accuracy: 0.9023 - val_loss: 0.3312 - val_accuracy: 0.8952
Epoch 42/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2790 - accuracy: 0.9052 - val_loss: 0.3319 - val_accuracy: 0.8952
Epoch 43/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2795 - accuracy: 0.8980 - val_loss: 0.3340 - val_accuracy: 0.8952
Epoch 44/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2727 - accuracy: 0.9038 - val_loss: 0.3342 - val_accuracy: 0.8952
Epoch 45/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2819 - accuracy: 0.9052 - val_loss: 0.3311 - val_accuracy: 0.8996
Epoch 46/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2725 - accuracy: 0.9052 - val_loss: 0.3291 - val_accuracy: 0.8996
Epoch 47/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2686 - accuracy: 0.9038 - val_loss: 0.3379 - val_accuracy: 0.8996
Epoch 48/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2725 - accuracy: 0.9052 - val_loss: 0.3333 - val_accuracy: 0.8996
Epoch 49/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2776 - accuracy: 0.9009 - val_loss: 0.3258 - val_accuracy: 0.8996
Epoch 50/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2664 - accuracy: 0.9038 - val_loss: 0.3324 - val_accuracy: 0.8952
Epoch 51/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2741 - accuracy: 0.9067 - val_loss: 0.3336 - val_accuracy: 0.8952
Epoch 52/100
22/22 [==============================] - 0s 7ms/step - loss: 0.2707 - accuracy: 0.9038 - val_loss: 0.3249 - val_accuracy: 0.8996
Epoch 53/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2739 - accuracy: 0.9052 - val_loss: 0.3285 - val_accuracy: 0.8996
Epoch 54/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2672 - accuracy: 0.9067 - val_loss: 0.3269 - val_accuracy: 0.8952
Epoch 55/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2668 - accuracy: 0.9096 - val_loss: 0.3262 - val_accuracy: 0.8952
Epoch 56/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2690 - accuracy: 0.9067 - val_loss: 0.3239 - val_accuracy: 0.8952
Epoch 57/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2629 - accuracy: 0.9082 - val_loss: 0.3255 - val_accuracy: 0.8996
Epoch 58/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2634 - accuracy: 0.9082 - val_loss: 0.3278 - val_accuracy: 0.8996
Epoch 59/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2696 - accuracy: 0.9067 - val_loss: 0.3190 - val_accuracy: 0.8996
Epoch 60/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2666 - accuracy: 0.9052 - val_loss: 0.3238 - val_accuracy: 0.8952
Epoch 61/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2644 - accuracy: 0.9067 - val_loss: 0.3176 - val_accuracy: 0.8996
Epoch 62/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2632 - accuracy: 0.9082 - val_loss: 0.3178 - val_accuracy: 0.8996
Epoch 63/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2618 - accuracy: 0.9038 - val_loss: 0.3225 - val_accuracy: 0.8996
Epoch 64/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2589 - accuracy: 0.9067 - val_loss: 0.3196 - val_accuracy: 0.8996
Epoch 65/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2631 - accuracy: 0.9052 - val_loss: 0.3186 - val_accuracy: 0.8952
Epoch 66/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2564 - accuracy: 0.9082 - val_loss: 0.3246 - val_accuracy: 0.8996
Epoch 67/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2594 - accuracy: 0.9052 - val_loss: 0.3195 - val_accuracy: 0.8996
Epoch 68/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2569 - accuracy: 0.9067 - val_loss: 0.3234 - val_accuracy: 0.8996
Epoch 69/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2687 - accuracy: 0.9009 - val_loss: 0.3154 - val_accuracy: 0.8996
Epoch 70/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2553 - accuracy: 0.9067 - val_loss: 0.3202 - val_accuracy: 0.8996
Epoch 71/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2566 - accuracy: 0.9038 - val_loss: 0.3246 - val_accuracy: 0.8996
Epoch 72/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2514 - accuracy: 0.9067 - val_loss: 0.3175 - val_accuracy: 0.8996
Epoch 73/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2553 - accuracy: 0.9096 - val_loss: 0.3145 - val_accuracy: 0.8952
Epoch 74/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2561 - accuracy: 0.9082 - val_loss: 0.3129 - val_accuracy: 0.8952
Epoch 75/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2558 - accuracy: 0.9082 - val_loss: 0.3155 - val_accuracy: 0.8996
Epoch 76/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2501 - accuracy: 0.9052 - val_loss: 0.3142 - val_accuracy: 0.8996
Epoch 77/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2537 - accuracy: 0.9082 - val_loss: 0.3136 - val_accuracy: 0.8996
Epoch 78/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2514 - accuracy: 0.9096 - val_loss: 0.3162 - val_accuracy: 0.8996
Epoch 79/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2538 - accuracy: 0.9067 - val_loss: 0.3115 - val_accuracy: 0.8996
Epoch 80/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2577 - accuracy: 0.9067 - val_loss: 0.3099 - val_accuracy: 0.8996
Epoch 81/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2510 - accuracy: 0.9082 - val_loss: 0.3128 - val_accuracy: 0.8996
Epoch 82/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2500 - accuracy: 0.9067 - val_loss: 0.3157 - val_accuracy: 0.8996
Epoch 83/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2550 - accuracy: 0.9023 - val_loss: 0.3121 - val_accuracy: 0.8996
Epoch 84/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2454 - accuracy: 0.9096 - val_loss: 0.3124 - val_accuracy: 0.8996
Epoch 85/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2461 - accuracy: 0.9096 - val_loss: 0.3133 - val_accuracy: 0.8996
Epoch 86/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2531 - accuracy: 0.9111 - val_loss: 0.3103 - val_accuracy: 0.8996
Epoch 87/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2476 - accuracy: 0.9082 - val_loss: 0.3107 - val_accuracy: 0.8996
Epoch 88/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2493 - accuracy: 0.9052 - val_loss: 0.3085 - val_accuracy: 0.8996
Epoch 89/100
22/22 [==============================] - 0s 7ms/step - loss: 0.2471 - accuracy: 0.9082 - val_loss: 0.3112 - val_accuracy: 0.8996
Epoch 90/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2475 - accuracy: 0.9082 - val_loss: 0.3096 - val_accuracy: 0.8996
Epoch 91/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2470 - accuracy: 0.9052 - val_loss: 0.3099 - val_accuracy: 0.8996
Epoch 92/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2516 - accuracy: 0.9052 - val_loss: 0.3085 - val_accuracy: 0.8996
Epoch 93/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2485 - accuracy: 0.9023 - val_loss: 0.3116 - val_accuracy: 0.8996
Epoch 94/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2480 - accuracy: 0.9067 - val_loss: 0.3063 - val_accuracy: 0.8996
Epoch 95/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2460 - accuracy: 0.9052 - val_loss: 0.3084 - val_accuracy: 0.8996
Epoch 96/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2476 - accuracy: 0.9096 - val_loss: 0.3091 - val_accuracy: 0.8996
Epoch 97/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2427 - accuracy: 0.9111 - val_loss: 0.3077 - val_accuracy: 0.8996
Epoch 98/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2443 - accuracy: 0.9067 - val_loss: 0.3124 - val_accuracy: 0.8996
Epoch 99/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2440 - accuracy: 0.9140 - val_loss: 0.3128 - val_accuracy: 0.8996
Epoch 100/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2444 - accuracy: 0.9067 - val_loss: 0.3097 - val_accuracy: 0.8952
8/8 - 0s - loss: 0.3097 - accuracy: 0.8952 - 52ms/epoch - 7ms/step
Loss: 0.30970117449760437, Accuracy: 0.8951964974403381

In [34]:
# Model Attempt 3

# Define the model with an additional layer
def create_model_with_extra_layer(input_shape, dropout_rate=0.3, l2_regularizer=0.0005):
    model = tf.keras.models.Sequential([
        # Input layer
        tf.keras.layers.Input(shape=input_shape),
        
        # Hidden layers
        tf.keras.layers.Dense(units=128, activation='relu', kernel_regularizer=tf.keras.regularizers.l2(l2_regularizer)),
        tf.keras.layers.Dropout(dropout_rate),
        
        tf.keras.layers.Dense(units=64, activation='relu', kernel_regularizer=tf.keras.regularizers.l2(l2_regularizer)),
        tf.keras.layers.Dropout(dropout_rate),
        
        # Additional hidden layer
        tf.keras.layers.Dense(units=32, activation='relu', kernel_regularizer=tf.keras.regularizers.l2(l2_regularizer)),
        tf.keras.layers.Dropout(dropout_rate),
        
        # Output layer
        tf.keras.layers.Dense(units=1, activation='sigmoid')
    ])
    
    return model

# Create the updated model
input_shape = X_train_scaled.shape[1]  # Number of features
updated_model = create_model_with_extra_layer(input_shape)

# Compile the updated model
updated_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

# Train and evaluate the updated model
history = updated_model.fit(X_train_scaled, y_train, epochs=100, validation_data=(X_test_scaled, y_test), verbose=1)
model_loss_3, model_accuracy_3 = updated_model.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss (Updated): {model_loss_3}, Accuracy (Updated): {model_accuracy_3}")

# Record the changes made
changes_made = "Added an additional hidden layer with 32 units"
update_num = len(results_df) + 1
results_df.loc[results_df.shape[0]] = [f'Update #{update_num}', changes_made, model_accuracy_3]

Epoch 1/100
22/22 [==============================] - 2s 19ms/step - loss: 0.6817 - accuracy: 0.7114 - val_loss: 0.5088 - val_accuracy: 0.8821
Epoch 2/100
22/22 [==============================] - 0s 4ms/step - loss: 0.5067 - accuracy: 0.8790 - val_loss: 0.4176 - val_accuracy: 0.8821
Epoch 3/100
22/22 [==============================] - 0s 4ms/step - loss: 0.4442 - accuracy: 0.8878 - val_loss: 0.3841 - val_accuracy: 0.8821
Epoch 4/100
22/22 [==============================] - 0s 6ms/step - loss: 0.4091 - accuracy: 0.8907 - val_loss: 0.3713 - val_accuracy: 0.8821
Epoch 5/100
22/22 [==============================] - 0s 4ms/step - loss: 0.4003 - accuracy: 0.8892 - val_loss: 0.3633 - val_accuracy: 0.8996
Epoch 6/100
22/22 [==============================] - 0s 4ms/step - loss: 0.3998 - accuracy: 0.8776 - val_loss: 0.3575 - val_accuracy: 0.8996
Epoch 7/100
22/22 [==============================] - 0s 4ms/step - loss: 0.3820 - accuracy: 0.8878 - val_loss: 0.3564 - val_accuracy: 0.8996
Epoch 8/100
22/22 [==============================] - 0s 7ms/step - loss: 0.3550 - accuracy: 0.8921 - val_loss: 0.3527 - val_accuracy: 0.8996
Epoch 9/100
22/22 [==============================] - 0s 4ms/step - loss: 0.3568 - accuracy: 0.8936 - val_loss: 0.3518 - val_accuracy: 0.9039
Epoch 10/100
22/22 [==============================] - 0s 6ms/step - loss: 0.3575 - accuracy: 0.8863 - val_loss: 0.3487 - val_accuracy: 0.8996
Epoch 11/100
22/22 [==============================] - 0s 5ms/step - loss: 0.3431 - accuracy: 0.8921 - val_loss: 0.3503 - val_accuracy: 0.8996
Epoch 12/100
22/22 [==============================] - 0s 4ms/step - loss: 0.3483 - accuracy: 0.8892 - val_loss: 0.3519 - val_accuracy: 0.8996
Epoch 13/100
22/22 [==============================] - 0s 5ms/step - loss: 0.3348 - accuracy: 0.8965 - val_loss: 0.3497 - val_accuracy: 0.8996
Epoch 14/100
22/22 [==============================] - 0s 6ms/step - loss: 0.3328 - accuracy: 0.8980 - val_loss: 0.3490 - val_accuracy: 0.8952
Epoch 15/100
22/22 [==============================] - 0s 4ms/step - loss: 0.3252 - accuracy: 0.8950 - val_loss: 0.3504 - val_accuracy: 0.8952
Epoch 16/100
22/22 [==============================] - 0s 6ms/step - loss: 0.3407 - accuracy: 0.8994 - val_loss: 0.3458 - val_accuracy: 0.8952
Epoch 17/100
22/22 [==============================] - 0s 4ms/step - loss: 0.3270 - accuracy: 0.8878 - val_loss: 0.3460 - val_accuracy: 0.8952
Epoch 18/100
22/22 [==============================] - 0s 4ms/step - loss: 0.3319 - accuracy: 0.8965 - val_loss: 0.3472 - val_accuracy: 0.8952
Epoch 19/100
22/22 [==============================] - 0s 5ms/step - loss: 0.3283 - accuracy: 0.8950 - val_loss: 0.3482 - val_accuracy: 0.8952
Epoch 20/100
22/22 [==============================] - 0s 6ms/step - loss: 0.3329 - accuracy: 0.9038 - val_loss: 0.3468 - val_accuracy: 0.8952
Epoch 21/100
22/22 [==============================] - 0s 5ms/step - loss: 0.3237 - accuracy: 0.8980 - val_loss: 0.3484 - val_accuracy: 0.8952
Epoch 22/100
22/22 [==============================] - 0s 4ms/step - loss: 0.3131 - accuracy: 0.9009 - val_loss: 0.3456 - val_accuracy: 0.8952
Epoch 23/100
22/22 [==============================] - 0s 4ms/step - loss: 0.3209 - accuracy: 0.9052 - val_loss: 0.3435 - val_accuracy: 0.8952
Epoch 24/100
22/22 [==============================] - 0s 5ms/step - loss: 0.3162 - accuracy: 0.8994 - val_loss: 0.3424 - val_accuracy: 0.8952
Epoch 25/100
22/22 [==============================] - 0s 6ms/step - loss: 0.3265 - accuracy: 0.8892 - val_loss: 0.3377 - val_accuracy: 0.8952
Epoch 26/100
22/22 [==============================] - 0s 4ms/step - loss: 0.3125 - accuracy: 0.8980 - val_loss: 0.3406 - val_accuracy: 0.8952
Epoch 27/100
22/22 [==============================] - 0s 4ms/step - loss: 0.3033 - accuracy: 0.8965 - val_loss: 0.3434 - val_accuracy: 0.8996
Epoch 28/100
22/22 [==============================] - 0s 5ms/step - loss: 0.3041 - accuracy: 0.8994 - val_loss: 0.3424 - val_accuracy: 0.8952
Epoch 29/100
22/22 [==============================] - 0s 5ms/step - loss: 0.3131 - accuracy: 0.8950 - val_loss: 0.3408 - val_accuracy: 0.8952
Epoch 30/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2960 - accuracy: 0.8965 - val_loss: 0.3431 - val_accuracy: 0.8952
Epoch 31/100
22/22 [==============================] - 0s 4ms/step - loss: 0.3100 - accuracy: 0.8892 - val_loss: 0.3436 - val_accuracy: 0.8996
Epoch 32/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2947 - accuracy: 0.8907 - val_loss: 0.3472 - val_accuracy: 0.8996
Epoch 33/100
22/22 [==============================] - 0s 4ms/step - loss: 0.3057 - accuracy: 0.9009 - val_loss: 0.3376 - val_accuracy: 0.8996
Epoch 34/100
22/22 [==============================] - 0s 4ms/step - loss: 0.3119 - accuracy: 0.8936 - val_loss: 0.3381 - val_accuracy: 0.8952
Epoch 35/100
22/22 [==============================] - 0s 6ms/step - loss: 0.3004 - accuracy: 0.9023 - val_loss: 0.3399 - val_accuracy: 0.8952
Epoch 36/100
22/22 [==============================] - 0s 6ms/step - loss: 0.3038 - accuracy: 0.8965 - val_loss: 0.3411 - val_accuracy: 0.8996
Epoch 37/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2965 - accuracy: 0.8994 - val_loss: 0.3354 - val_accuracy: 0.8952
Epoch 38/100
22/22 [==============================] - 0s 4ms/step - loss: 0.3034 - accuracy: 0.8980 - val_loss: 0.3355 - val_accuracy: 0.8952
Epoch 39/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2862 - accuracy: 0.8980 - val_loss: 0.3359 - val_accuracy: 0.8952
Epoch 40/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2832 - accuracy: 0.8950 - val_loss: 0.3358 - val_accuracy: 0.8996
Epoch 41/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2880 - accuracy: 0.8994 - val_loss: 0.3331 - val_accuracy: 0.8996
Epoch 42/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2942 - accuracy: 0.9038 - val_loss: 0.3332 - val_accuracy: 0.8996
Epoch 43/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2950 - accuracy: 0.9038 - val_loss: 0.3328 - val_accuracy: 0.8952
Epoch 44/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2932 - accuracy: 0.8980 - val_loss: 0.3322 - val_accuracy: 0.8952
Epoch 45/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2832 - accuracy: 0.9052 - val_loss: 0.3350 - val_accuracy: 0.8996
Epoch 46/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2862 - accuracy: 0.8950 - val_loss: 0.3330 - val_accuracy: 0.8996
Epoch 47/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2872 - accuracy: 0.8950 - val_loss: 0.3322 - val_accuracy: 0.8952
Epoch 48/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2878 - accuracy: 0.9052 - val_loss: 0.3327 - val_accuracy: 0.8996
Epoch 49/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2714 - accuracy: 0.8950 - val_loss: 0.3373 - val_accuracy: 0.8952
Epoch 50/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2830 - accuracy: 0.9052 - val_loss: 0.3361 - val_accuracy: 0.8952
Epoch 51/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2806 - accuracy: 0.9052 - val_loss: 0.3364 - val_accuracy: 0.8952
Epoch 52/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2767 - accuracy: 0.9009 - val_loss: 0.3299 - val_accuracy: 0.8996
Epoch 53/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2794 - accuracy: 0.9009 - val_loss: 0.3286 - val_accuracy: 0.8952
Epoch 54/100
22/22 [==============================] - 0s 7ms/step - loss: 0.2788 - accuracy: 0.9038 - val_loss: 0.3273 - val_accuracy: 0.8996
Epoch 55/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2755 - accuracy: 0.8980 - val_loss: 0.3321 - val_accuracy: 0.8996
Epoch 56/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2695 - accuracy: 0.8994 - val_loss: 0.3322 - val_accuracy: 0.8952
Epoch 57/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2756 - accuracy: 0.8980 - val_loss: 0.3351 - val_accuracy: 0.8996
Epoch 58/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2785 - accuracy: 0.9038 - val_loss: 0.3278 - val_accuracy: 0.8952
Epoch 59/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2682 - accuracy: 0.9009 - val_loss: 0.3300 - val_accuracy: 0.8996
Epoch 60/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2697 - accuracy: 0.8980 - val_loss: 0.3297 - val_accuracy: 0.8996
Epoch 61/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2744 - accuracy: 0.9038 - val_loss: 0.3327 - val_accuracy: 0.8996
Epoch 62/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2752 - accuracy: 0.9009 - val_loss: 0.3315 - val_accuracy: 0.8952
Epoch 63/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2738 - accuracy: 0.9067 - val_loss: 0.3214 - val_accuracy: 0.8996
Epoch 64/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2678 - accuracy: 0.9023 - val_loss: 0.3232 - val_accuracy: 0.8952
Epoch 65/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2701 - accuracy: 0.9052 - val_loss: 0.3292 - val_accuracy: 0.8996
Epoch 66/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2700 - accuracy: 0.9096 - val_loss: 0.3261 - val_accuracy: 0.8952
Epoch 67/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2663 - accuracy: 0.9023 - val_loss: 0.3245 - val_accuracy: 0.8996
Epoch 68/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2676 - accuracy: 0.9009 - val_loss: 0.3210 - val_accuracy: 0.8996
Epoch 69/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2664 - accuracy: 0.9052 - val_loss: 0.3273 - val_accuracy: 0.8996
Epoch 70/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2753 - accuracy: 0.8994 - val_loss: 0.3254 - val_accuracy: 0.8996
Epoch 71/100
22/22 [==============================] - 0s 7ms/step - loss: 0.2657 - accuracy: 0.9038 - val_loss: 0.3260 - val_accuracy: 0.8996
Epoch 72/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2685 - accuracy: 0.9096 - val_loss: 0.3230 - val_accuracy: 0.8996
Epoch 73/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2691 - accuracy: 0.8950 - val_loss: 0.3225 - val_accuracy: 0.8996
Epoch 74/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2660 - accuracy: 0.9082 - val_loss: 0.3225 - val_accuracy: 0.8952
Epoch 75/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2598 - accuracy: 0.9009 - val_loss: 0.3269 - val_accuracy: 0.8952
Epoch 76/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2644 - accuracy: 0.8994 - val_loss: 0.3218 - val_accuracy: 0.8996
Epoch 77/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2600 - accuracy: 0.9067 - val_loss: 0.3237 - val_accuracy: 0.8952
Epoch 78/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2698 - accuracy: 0.8994 - val_loss: 0.3220 - val_accuracy: 0.8996
Epoch 79/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2579 - accuracy: 0.8994 - val_loss: 0.3205 - val_accuracy: 0.8996
Epoch 80/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2715 - accuracy: 0.9009 - val_loss: 0.3189 - val_accuracy: 0.8996
Epoch 81/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2690 - accuracy: 0.9052 - val_loss: 0.3234 - val_accuracy: 0.8996
Epoch 82/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2601 - accuracy: 0.9067 - val_loss: 0.3250 - val_accuracy: 0.8996
Epoch 83/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2671 - accuracy: 0.9096 - val_loss: 0.3217 - val_accuracy: 0.8996
Epoch 84/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2619 - accuracy: 0.9038 - val_loss: 0.3234 - val_accuracy: 0.8952
Epoch 85/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2682 - accuracy: 0.9052 - val_loss: 0.3222 - val_accuracy: 0.8952
Epoch 86/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2573 - accuracy: 0.9023 - val_loss: 0.3204 - val_accuracy: 0.8952
Epoch 87/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2621 - accuracy: 0.9082 - val_loss: 0.3225 - val_accuracy: 0.8952
Epoch 88/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2644 - accuracy: 0.8994 - val_loss: 0.3202 - val_accuracy: 0.8952
Epoch 89/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2580 - accuracy: 0.9038 - val_loss: 0.3221 - val_accuracy: 0.8996
Epoch 90/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2537 - accuracy: 0.9009 - val_loss: 0.3201 - val_accuracy: 0.8996
Epoch 91/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2596 - accuracy: 0.9023 - val_loss: 0.3181 - val_accuracy: 0.8996
Epoch 92/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2594 - accuracy: 0.9082 - val_loss: 0.3161 - val_accuracy: 0.8996
Epoch 93/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2498 - accuracy: 0.9067 - val_loss: 0.3222 - val_accuracy: 0.8996
Epoch 94/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2591 - accuracy: 0.9067 - val_loss: 0.3217 - val_accuracy: 0.8996
Epoch 95/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2601 - accuracy: 0.8980 - val_loss: 0.3206 - val_accuracy: 0.8996
Epoch 96/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2587 - accuracy: 0.9038 - val_loss: 0.3254 - val_accuracy: 0.8996
Epoch 97/100
22/22 [==============================] - 0s 4ms/step - loss: 0.2530 - accuracy: 0.9067 - val_loss: 0.3185 - val_accuracy: 0.8996
Epoch 98/100
22/22 [==============================] - 0s 6ms/step - loss: 0.2555 - accuracy: 0.9067 - val_loss: 0.3200 - val_accuracy: 0.8952
Epoch 99/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2596 - accuracy: 0.9052 - val_loss: 0.3195 - val_accuracy: 0.8996
Epoch 100/100
22/22 [==============================] - 0s 5ms/step - loss: 0.2566 - accuracy: 0.9009 - val_loss: 0.3110 - val_accuracy: 0.8996
8/8 - 0s - loss: 0.3110 - accuracy: 0.8996 - 36ms/epoch - 5ms/step
Loss (Updated): 0.3109666705131531, Accuracy (Updated): 0.8995633125305176

In [35]:
# Save the results to a CSV file
results_df.to_csv('model_optimization_results.csv', index=False)