In [461]:
import requests
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pathlib import Path
from math import floor
from pprint import pprint

In [462]:
artwork_file = Path("artwork_data.csv")
artwork_data = pd.read_csv(artwork_file)
artwork_data

,artwork_id,artist_name,title,exhibition_history,is_on_view,date,category_titles,artwork_type_title
0,186803,"Michael Mazur\nAmerican, 1935-2009",Self-Portrait,NaN,False,1986,Prints and Drawings,Drawing and Watercolor
1,56658,"Perugia, Italy",Towel,"Art Institute of Chicago, Masterpieces of West...",False,15th century,Textiles,Textile
2,31131,"Lenore Tawney (American, 1907–2007)\nUnited St...",Two Forces Meeting and Opposing (Hanging),"Art Institute of Chicago, Selected Textile Acq...",False,1959,Textiles,Textile
3,93955,"Ulla-May Berggren (American, born Sweden, 1935...",Panel (Hanging),"Art Institute of Chicago, Selected Textile Acq...",False,1977,Textiles,Textile
4,54151,"Uzbekistan, Bukhara",Panel,NaN,False,17th century,Textiles,Textile
...,...,...,...,...,...,...,...,...
495,240934,"Charles White (American, 1918-1979)\nprinted b...",Wanted Poster Series #15 or Hasty B,"Chicago, IL, Museum of Contemporary Art, Chica...",False,1970,African Diaspora,Print
496,240933,"Charles White (American, 1918-1979)\nprinted b...",Wanted Poster Series #14a,NaN,False,1970,African Diaspora,Print
497,240932,"Charles White (American, 1918-1979)\nprinted b...",Wanted Poster Series #14,NaN,False,1970,African Diaspora,Print
498,237985,"Charles White\nAmerican, 1918-1979",Solid as a Rock (My God is Rock),NaN,False,"1958, printed 1959",African Diaspora,Print
499,229152,"Charles White\nAmerican, 1918–1979",Cabeza (or Youth),NaN,False,1946,Prints and Drawings,Print

In [463]:


# Create DataFrame
df = pd.DataFrame(artwork_data)

# Split artist_name into name, nationality, and year columns
df[['name', 'nationality_year']] = df['artist_name'].str.split('(', 1, expand=True)
df[['nationality', 'year']] = df['nationality_year'].str.extract(r'([A-Za-z\s]+),\s(\d{4}–\d{4})')

# Drop unnecessary columns
df.drop(['artist_name', 'nationality_year'], axis=1, inplace=True)

df

C:\Users\hopan\AppData\Local\Temp\ipykernel_40032\2271723433.py:5: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[['name', 'nationality_year']] = df['artist_name'].str.split('(', 1, expand=True)

,artwork_id,title,exhibition_history,is_on_view,date,category_titles,artwork_type_title,name,nationality,year
0,186803,Self-Portrait,NaN,False,1986,Prints and Drawings,Drawing and Watercolor,"Michael Mazur\nAmerican, 1935-2009",NaN,NaN
1,56658,Towel,"Art Institute of Chicago, Masterpieces of West...",False,15th century,Textiles,Textile,"Perugia, Italy",NaN,NaN
2,31131,Two Forces Meeting and Opposing (Hanging),"Art Institute of Chicago, Selected Textile Acq...",False,1959,Textiles,Textile,Lenore Tawney,American,1907–2007
3,93955,Panel (Hanging),"Art Institute of Chicago, Selected Textile Acq...",False,1977,Textiles,Textile,Ulla-May Berggren,NaN,NaN
4,54151,Panel,NaN,False,17th century,Textiles,Textile,"Uzbekistan, Bukhara",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
495,240934,Wanted Poster Series #15 or Hasty B,"Chicago, IL, Museum of Contemporary Art, Chica...",False,1970,African Diaspora,Print,Charles White,NaN,NaN
496,240933,Wanted Poster Series #14a,NaN,False,1970,African Diaspora,Print,Charles White,NaN,NaN
497,240932,Wanted Poster Series #14,NaN,False,1970,African Diaspora,Print,Charles White,NaN,NaN
498,237985,Solid as a Rock (My God is Rock),NaN,False,"1958, printed 1959",African Diaspora,Print,"Charles White\nAmerican, 1918-1979",NaN,NaN
499,229152,Cabeza (or Youth),NaN,False,1946,Prints and Drawings,Print,"Charles White\nAmerican, 1918–1979",NaN,NaN

In [464]:
# Create a DataFrame
df = df[['artwork_id', 'name', 'nationality', 'year', 'title', 'exhibition_history', 'is_on_view', 'date', 'category_titles', 'artwork_type_title']].rename(columns={
    'artwork_id': 'ID',
    'exhibition_history': 'exhibition',
    'is_on_view': 'View',
    'category_titles': 'title',
    'artwork_type_title': 'type'
})

# Display DataFrame
df

,ID,name,nationality,year,title,exhibition,View,date,title,type
0,186803,"Michael Mazur\nAmerican, 1935-2009",NaN,NaN,Self-Portrait,NaN,False,1986,Prints and Drawings,Drawing and Watercolor
1,56658,"Perugia, Italy",NaN,NaN,Towel,"Art Institute of Chicago, Masterpieces of West...",False,15th century,Textiles,Textile
2,31131,Lenore Tawney,American,1907–2007,Two Forces Meeting and Opposing (Hanging),"Art Institute of Chicago, Selected Textile Acq...",False,1959,Textiles,Textile
3,93955,Ulla-May Berggren,NaN,NaN,Panel (Hanging),"Art Institute of Chicago, Selected Textile Acq...",False,1977,Textiles,Textile
4,54151,"Uzbekistan, Bukhara",NaN,NaN,Panel,NaN,False,17th century,Textiles,Textile
...,...,...,...,...,...,...,...,...,...,...
495,240934,Charles White,NaN,NaN,Wanted Poster Series #15 or Hasty B,"Chicago, IL, Museum of Contemporary Art, Chica...",False,1970,African Diaspora,Print
496,240933,Charles White,NaN,NaN,Wanted Poster Series #14a,NaN,False,1970,African Diaspora,Print
497,240932,Charles White,NaN,NaN,Wanted Poster Series #14,NaN,False,1970,African Diaspora,Print
498,237985,"Charles White\nAmerican, 1918-1979",NaN,NaN,Solid as a Rock (My God is Rock),NaN,False,"1958, printed 1959",African Diaspora,Print
499,229152,"Charles White\nAmerican, 1918–1979",NaN,NaN,Cabeza (or Youth),NaN,False,1946,Prints and Drawings,Print

In [465]:
# Create nationality DataFrame
nationality_dataframe = name_nationality_type_count_df

# Display DataFrame
print(nationality_dataframe)

                           name    nationality                   type  count  \
0    Archibald John Motley Jr.        American               Painting      2
1    Archibald John Motley Jr.        American               Painting      2
2                Charles White      born Italy                  Print      2
3                Charles White      born Italy                  Print      2
4                Charles White        American                  Print      3
5                Charles White        American                  Print      3
6                Charles White        American                  Print      3
7                 Dan Friedman        American         Graphic Design      1
8           Frederic Remington        American               Painting      1
9           Frederic Remington        American              Sculpture      1
10            Georgia O'Keeffe        American               Painting      1
11                  Grant Wood        American               Painting      1
12               Hale Woodruff        American               Painting      1
13               Ivan Albright        American               Painting     20
14               Ivan Albright        American               Painting     20
15               Ivan Albright        American               Painting     20
16               Ivan Albright        American               Painting     20
17               Ivan Albright        American               Painting     20
18               Ivan Albright        American               Painting     20
19               Ivan Albright        American               Painting     20
20               Ivan Albright        American               Painting     20
21               Ivan Albright        American               Painting     20
22               Ivan Albright        American               Painting     20
23               Ivan Albright        American               Painting     20
24               Ivan Albright        American               Painting     20
25               Ivan Albright        American               Painting     20
26               Ivan Albright        American               Painting     20
27               Ivan Albright        American               Painting     20
28               Ivan Albright        American               Painting     20
29               Ivan Albright        American               Painting     20
30               Ivan Albright        American               Painting     20
31               Ivan Albright        American               Painting     20
32               Ivan Albright        American               Painting     20
33               Lenore Tawney        American                Textile      2
34               Lenore Tawney        American                Textile      2
35              Lenore Tawney         American                Textile      1
36                  Lissy Funk    born Germany                Textile      1
37    Ludwig Mies van der Rohe    born Germany  Architectural Drawing      1
38    Ludwig Mies van der Rohe        American  Architectural Drawing      1
39       Nancy Hemenway Barton        American                Textile      4
40       Nancy Hemenway Barton        American                Textile      4
41       Nancy Hemenway Barton        American                Textile      4
42       Nancy Hemenway Barton        American                Textile      4
43  Skidmore, Owings & Merrill        American  Architectural Drawing      1

        ID
0   117266
1   140644
2   240950
3   240949
4   241448
5   240948
6   240947
7   258439
8    97910
9    97916
10   70038
11  156075
12  122230
13   93804
14   93803
15   93805
16    9535
17   93799
18   32596
19    9516
20   93801
21   93808
22   93813
23   93798
24   93807
25   93806
26   93800
27   93811
28   83905
29   62273
30   93815
31   93812
32   93802
33   31131
34  195501
35  133640
36  149648
37   70936
38  242466
39   68802
40  146086
41   58476
42  105096
43  235219

In [466]:
# Create type DataFrame
type_df = names_multiple_types_df

# Display DataFrame
type_df

      ID                 name nationality       type
8  97910  Frederic Remington     American   Painting
9  97916  Frederic Remington     American  Sculpture

In [467]:

# Create exhibition_df by grouping
df['View'] = df['View'].astype(int)  # Convert boolean values to integers (True -> 1, False -> 0)

# Group by 'ID', 'exhibition', and 'View', and sum occurrences of 'View' per 'ID'
exhibition_df = df.groupby(['ID', 'exhibition']).agg({'View': 'sum'}).reset_index()

# Rename 'View' column to 'view_count' and update based on the condition
exhibition_df['view_count'] = exhibition_df['View'].apply(lambda x: 1 if x > 0 else 0)

# Drop the original 'View' column
exhibition_df.drop(columns=['View'], inplace=True)

# Display DataFrame
exhibition_df

         ID                                         exhibition  view_count
0       487  Art Institute of Chicago, Life and Afterlife i...           1
1       594  Art Institute of Chicago, Life and Afterlife i...           1
2       617  Art Institute of Chicago, Ancient Art Gallerie...           1
3       835  Art Institute of Chicago, Life and Afterlife i...           1
4       840  Art Institute of Chicago, Life and Afterlife i...           1
..      ...                                                ...         ...
185  260699  New York, Matthew Marks Gallery, Julia Phillip...           0
186  265480  Los Angeles, Ace Gallery, Ed Ruscha: New Works...           0
187  267434  Lausanne, Switzerland, Galerie Alice Pauli, Ma...           0
188  267436  London, P. & D. Colnaghi & Co. Ltd, Five Hundr...           0
189  270327  London, Pippy Houldsworth Gallery, Qualeasha W...           1

[190 rows x 3 columns]

h

In [469]:
# create a concatenated artwork_data_df
#concatenated_df = pd.concat([artwork_data, df], ignore_index=True)
#concatenated_df.drop(['artist_name'], axis=1, inplace=True)

#df

In [470]:
print(concatenated_df['name'])

2                  Lenore Tawney
127                   Lissy Funk
135        Nancy Hemenway Barton
142        Nancy Hemenway Barton
147        Nancy Hemenway Barton
198                Ivan Albright
202                Ivan Albright
216                Ivan Albright
217                Ivan Albright
218                Ivan Albright
219                Ivan Albright
220                Ivan Albright
222                Ivan Albright
225                Ivan Albright
226                Ivan Albright
227                Ivan Albright
228                Ivan Albright
229                Ivan Albright
231                Ivan Albright
233                Ivan Albright
234                Ivan Albright
235                Ivan Albright
236                Ivan Albright
238                Ivan Albright
239                Ivan Albright
260           Frederic Remington
266             Georgia O'Keeffe
322     Ludwig Mies van der Rohe
368    Archibald John Motley Jr.
379                Hale Woodruff
382    Archibald John Motley Jr.
479                Charles White
481                Charles White
Name: name, dtype: object

In [471]:
print(concatenated_df['exhibition_history'])

2      Art Institute of Chicago, Selected Textile Acq...
127    Art Institute of Chicago, Elizabeth F. Cheney ...
135    Art Institute of Chicago, Agnes Allerton Galle...
142    Art Institute of Chicago, Elizabeth F. Cheney ...
147    Art Institute of Chicago, Agnes Allerton Galle...
198    Art Institute of Chicago, <em>32nd Annual Exhi...
202    Art Institute of Chicago, <a href="https://www...
216    Art Institute of Chicago, <em>Paintings by Geo...
217    Pennsylvania Academy of the Fine Arts, 1930 (a...
218    Organized by American Federation of Arts, <em>...
219    Art Institute of Chicago, <em>33rd Annual Exhi...
220    Art Institute of Chicago, <em>The Artist Looks...
222    New York, Museum of Modern Art, <em>Americans ...
225    Art Institute of Chicago, <a href="https://www...
226    Art Institute of Chicago, <em>36th Annual Exhi...
227    Art Institute of Chicago, <em>Fifty–Sixth Annu...
228    Chicago, Walden Book Shop Gallery, <em>The Fir...
229    Chicago, Walden Book Shop Galleries, <em>The F...
231    Philadelphia, The Art Club, <em>Annual Exhibit...
233    Art Institute of Chicago, <em>Paintings by Geo...
234    Pittsburgh, Carnegie Institute, <em>1938 Inter...
235    Art Institute of Chicago, <em>40th Annual Exhi...
236    Chicago, The Arts Club, 1936.\n\nArt Institute...
238    Venice, Italy, <em>American Artists Paint the ...
239    Art Institute of Chicago, <a href="https://www...
260    St. Louis, 1892.\n\nNew York, American Art Gal...
266    Brussels, United States Embassy, Whitlock Hall...
322    The Art Institute of Chicago, “To Build a Mode...
368    Chicago Historical Society, <em>The Art of Arc...
379    Art Institute of Chicago, Children's Museum, <...
382    Chicago Historical Society, <em>The Art of Arc...
479    The Art Institute of Chicago, "Charles White: ...
481    The Art Institute of Chicago, "Charles White: ...
Name: exhibition_history, dtype: object